@charset "utf-8";
/* KStair Custom CSS Document */

body { font-family: "ff-meta-serif-web-pro", serif; color:#2a201b; background-size:100%;}
html, body { height:100% !important; width:100% !important; background-size:cover;}
.container {width:960px;}
.bold {font-weight:bold}
.italic {font-style:italic;}
h2 {font-size:2.25em;}
h1 {font-size:2.5em;}
h3 {font-size:1.5em;}
.center {text-align:center !important;}
.border-bottom {border-bottom:2px solid #b39658; padding:1.5em 0;}

/* Header */
header #site-navigation { background-color:#42322b; -webkit-transition: height 0.5s; transition: height 0.5s; }
header #site-navigation a { color:#c7b299;}
#site-navigation div.nav-contact { position: absolute; top: 24px; right: 30px; text-align: right; -webkit-transition: top 0.4s; transition: top 0.4s; }
#site-navigation div.nav-contact p { margin-bottom: 0; color: #fff; font-size: 1.5em; padding-left: 23px; background-image: url('images/phone-icon.svg'); background-repeat: no-repeat; background-position: 0px 7px; background-size: 18px auto; }
#site-navigation div.nav-contact img { width: 18px; margin-top: 3px; display: inline; }
header a:hover, header .current_page_item a { color:#ffffff !important; }
.menu-header_menu_1-container, .menu-header_menu_2-container { width:47.5%; float:left; height: 100%; }
#nav-logo {float:left; width:5%; text-align: center; height: 100%; }
#nav-logo a { height: 100%; }
#nav-logo img { width: auto; height: 100%; }
#mobile-menu-icon { position: fixed; top: 10px; right: 10px; z-index: 1; cursor: pointer; display: none; }
#mobile-menu-icon span { display: block; width: 25px; height: 3px; margin-bottom: 5px; background-color: #fff; -webkit-transition: all 0.5s; transition: all 0.5s; }
#mobile-menu-icon span:last-child { margin-bottom: 0; }
.menu-open #page { overflow-y: hidden; }
.menu-open #mobile-menu-icon span:first-child { -webkit-transform: translate(0px,8px) rotate(-45deg); transform: translate(0px,8px) rotate(-45deg); }
.menu-open #mobile-menu-icon span:nth-child(2) { opacity: 0; }
.menu-open #mobile-menu-icon span:last-child { -webkit-transform: translate(0px,-8px) rotate(45deg); transform: translate(0px,-8px) rotate(45deg); }
.menu-open #mobile-menu { -webkit-transform: translateX(0); transform: translateX(0); }
.menu-open #mobile-menu-backdrop { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
#mobile-menu { position: fixed; top: 42px; bottom: 0; right: 0; z-index: 1; height: calc(100% - 42px); overflow-y: scroll; background-color: #2a201b; -webkit-transform: translateX(100%); transform: translateX(100%); -webkit-transition: all 0.5s; transition: all 0.5s; display: none; }
#mobile-menu ul { list-style: none; margin: 0; padding: 0; }
#mobile-menu a { display: block; color: #c7b299; padding: 15px 30px; }
#mobile-menu-backdrop { position: fixed; top: 42px; bottom: 0; left: 0; right: 0; width: 100%; height: calc(100% - 42px); background-color: rgba(0,0,0,0.6); -webkit-transform: translateX(100%); transform: translateX(100%); opacity: 0; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; display: none; }
.menu-header_menu_1-container ul {float:right; height: 100%;}
.menu-header_menu_1-container ul li {padding: 0 3em 0 0; position: relative; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.menu-header_menu_2-container ul {float:left; height: 100%;}
.menu-header_menu_2-container ul li {padding: 0 0 0 3em; position: relative; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
#site-navigation.fixed { height: 40px; }
#site-navigation.fixed div.nav-contact { top: 3px; }
.fixed {position: fixed !important; top: 0; height: 90px; z-index: 9999;}
.navbar { border-radius:0; position:absolute; width:100%; height:90px; bottom:0; margin-bottom:0; z-index:9999;}
#scrolling-content{height:1px;}
.navbar.excluded { top: 0 !important; position: fixed !important; }

/* Mobile Nav */
#wprmenu_bar, #mg-wprm-wrap {background-color:#42322b;}
#wprmenu_bar {z-index:0; text-align: right;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {background-color:#fff;}
#mg-wprm-wrap ul#wprmenu_menu_ul li.menu-item a, div#mg-wprm-wrap ul li span.wprmenu_icon {color:#c7b299 !important;}
.wpr_search.search_top {display:none;}



/* Arrows */
.scrolling-arrow a {
	color: #c7b299 !important;
	font-style: italic;
}
.scrolling-arrow a:hover {
	text-decoration: none;
}
.bounce {
 	width: 60px;
	height: 60px;
	display: block;
	margin: 0 auto;
	animation: bounce 2s 2;
	-webkit-animation: bounce 2s 2;
	-moz-animation: bounce 2s 2;
	-o-animation: bounce 2s 2;
}

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}






/* Footer */
footer .site-info { background-color:#42322b; text-align:center; color:#a7917a; padding:1em;}
footer .site-info p { margin-bottom:0; }
#main-footer { background-color:#2a201b; color:#927f6b; clear:both; width:100%;}
footer a, footer a:visited {color:#927f6b;}
footer a:hover, footer .current_page_item a { color:#ffffff; font-weight:bold; }
#menu-footer-menu {-webkit-column-count: 2; /* Chrome, Safari, Opera */-moz-column-count: 2; /* Firefox */column-count: 2;-webkit-column-gap: 40px; /* Chrome, Safari, Opera */-moz-column-gap: 40px; /* Firefox */column-gap: 40px;list-style-type: none; border-left: 1px solid #927f6b; padding:0 0 0 2.5em; margin:1em 0 0 1em; }
#main-footer #site-navigation {float:left; width:42%;}
#main-footer .main-navigation {clear:none;}
#main-footer .menu li {float:none;}
#footer-logo {width:48%; float:left;}
#footer-logo img {width:70%; }
#footer-phone {font-size:1.5em; color:#b39658;}
#main-footer .container { padding:2em 0;}
#top-page-button {width:100%; text-align:center;}
#top-page-button p {margin-bottom:0; text-transform:uppercase;background-color:#ffffff;width: 78px;height: 35px; margin: 50px auto 0;/* top-right top-left bottom-left bottom-right *//* or from 10.30 clockwise */border-radius: 50% / 0 0 100% 100%;}
#top-page-button a:hover { text-decoration:none; color:#4a3228;}
#footer-social {width:7%; float:left; padding: 0.5em 1.5em 0 0;}
#footer-social img {width:100%; padding:0 0 1em 0;}
#footer-logo div {float:left; width:50%;}
#footer-consultation-note {margin:0; text-align: center; padding-bottom: 1em; font-size:1.2em;}

/* Action Bar */
.multiple-phone { display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; padding-bottom: 2em; text-align: center; }
.multiple-phone .phone:first-child { margin-right: 3em; }
.multiple-phone p { line-height: 1; font-style: italic; margin: 0; }
.multiple-phone p a { font-size: 2em; font-style: normal; color: #2a201b; text-decoration: none; }
.action-bar {width:100%; clear:both; margin:5em 0 0 0; text-align:center;}
.action-bar .container { display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.newsletter-ad, .contact-ad {width:49%; float:left;}
.newsletter-ad {border-right: #180b03 solid 1px;}
.newsletter-btn, .contact-btn, #gform_submit_button_1{background-color:#42322b; margin:0 auto; width:215px;}
.contact-btn p,  #gform_submit_button_1, .newsletter-btn, button:hover{color:#ffffff; text-transform:uppercase;}
.contact-btn p:hover,  #gform_submit_button_1, .newsletter-btn, button:hover {color:#ffffff; text-decoration:none;}
ph, .subscribe {font-size:2em; text-transform:uppercase;}
ph a { color: #2a201b; }
ph a:hover { text-decoration: none; }
.action-bar p {margin-bottom:0; padding:.5em;}
.subscribe {padding:0 !important;}
.newsletter-btn {font-size:1em; padding:0.8em 0 0.6em 0;}
.action-bar .italic {padding-bottom:1em;}

/*Expertise Callout*/
.expertise-badge {
	margin-top: 3em;
	padding: 0 15px;
}
.expertise-badge.wood-countertops {
	margin-bottom: 3em;
}
.expertise-badge a {
	display: block;
	text-decoration: none;
	color: #42322b;
	max-width: 750px;
	margin: 0 auto;
}
.expertise-badge .content {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.expertise-badge .content div:first-child {
	width: 200px;
}
.expertise-badge .content div:last-child {
	width: calc(100% - 200px);
	padding-left: 30px;
}
.expertise-badge .content svg {
	display: block;
	width: 100%;
}
.expertise-badge .content p:first-child {
	font-size: 0.9em;
	margin-bottom: 0.25em;
}
.expertise-badge .content p:last-child {
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: 0;
	text-align: right;
}

/*Gravity Forms turned Wufoo Form*/
 #gform_submit_button_1, .newsletter-btn, button:hover, .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type="submit"] {border:none; box-shadow:none;text-shadow:none; border-radius: 0; font-family: "ff-meta-serif-web-pro"; text-transform:uppercase; color:#ffffff; background-color:#42322b;}
.gform_confirmation_message_1.gform_confirmation_message { font-weight:bold; color: #7d8137; font-size:1.1em;}
.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium, .gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea {width:90% !important;}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, select {border:1px solid #c7b299;}
.gform_wrapper .top_label input.medium {font-size:1em; padding:8px;}
.gform_wrapper input[type="text"], .gform_wrapper input[type="url"], .gform_wrapper input[type="email"], .gform_wrapper input[type="tel"], .gform_wrapper input[type="number"], .gform_wrapper input[type="password"], .gform_wrapper select { font-size:1em !important;}
#gform_submit_button_3, #gform_submit_button_2 {width:8em;}
#gform_submit_button_1 {margin-bottom:2em;}
.gform_wrapper textarea {font-size:1em !important; padding:4px 5px !important;}
.gform_confirmation_message_3.gform_confirmation_message {font-weight:bold; font-size:1.5em;}
.wufoo label.desc, .wufoo legend.desc {font-size:17px !important;}
.wufoo select.select {font-family: ff-meta-serif-web-pro,serif;}

/*Fullscreen Backgrounds */
.fullscreen {height: 100vh; min-height:100%; width: 100% !important; background-color: #eaeaea;}
.feature-text { position:absolute; width:100%; top:16%; left:0; max-width: calc(750px + 8%); padding-left: 8%; border-radius:10px; box-shadow: 0 0 180px rgba(80, 71, 66, .7);   background-image: radial-gradient(rgba(80,71,66,0.8),rgba(80,71,66,0.2));}
.featured-title {padding-bottom:.5em; }
.feature-text-wrapper {padding:1.25em;}
.feature-text-wrapper a {color:#2a201b;}
#countertops-feature .feature-text-wrapper a {color:#fff;}
.feature-text-logo {width:50%; margin-bottom:1em; }
.feature-text .consultation-note { font-size:0.8em; margin-top:1em; }

/*Pages*/
.call-out-bar { color:#42322b; font-size:1.65em; font-style:italic; text-align:center; border-top:2px #b39658 solid; border-bottom:2px #b39658 solid; margin-top:50px;}
.call-out-bar p { margin-bottom:0; padding: 1em .5em;}
.icon-callouts a, .call-out-bar a { color:#42322b; text-decoration:none;}
.icon-callouts, .intro-text {float:left; width:50%;}
.icon-callouts img { width:35%; padding:0 1em 3em 5em; float:left; }
.icon-callouts.right {float:right;}
#our-work .icon-callouts img {width:80%; padding:0;}
.intro-text h2, #baluster-text h2 {padding-bottom:.9em;}
.icon-callouts p {font-size:1.1em;}
.contact-ad img { width:65%; padding: 0 0 1em 0;}
#faq-content, #contact-content, #resource-content, #vendor-content, #news-content, #registration-content, #careers-content, #post-238, #post-230 {margin-top:5em; clear:both;}


/* Category Case Studies */
.featured-gallery { width:100%; overflow-x:scroll; overflow-y:hidden; white-space:nowrap; -webkit-overflow-scrolling: touch; margin:5em 0 0 0; padding:0; height:700px; position:relative; }
.featured-gallery#history-gallery {height:622px !important;}
.featured-gallery#stairs-gallery > div {width:25834px;}
.featured-gallery#countertop-gallery > div{width:25500px;}
.featured-gallery#countertop-gallery-two > div{width:18500px;}
.featured-gallery#history-gallery > div {width:7800px;}
.featured-gallery div.featured-gallery-post { width:1300px; height:700px; float:left; position:relative; }
.featured-gallery div#final-stairs-picture { width:1600px; }
.timelapse {width:1217px !important; float:left;}
.featured-gallery div.featured-gallery-post.text-block-brown{background-color:#42322b; width:600px !important; height:700px; color:#c7b299;}
.featured-gallery div.featured-gallery-post.text-block-tan{background-color:#c7b299; width:600px !important; height:700px; color:#42322b;}
.gallery-text-wrapper {text-align:left; position:absolute; width:25%; width:415px; white-space:normal; top:25%; left:15%; right:15%;}
.gallery-text-wrapper .bold {font-size:1.3em;}
.work-story-text h2 {padding-bottom:1em;}
.featured-gallery-container { position: relative; width: 100%; }
.gallery-control { position: absolute; top: 0; bottom: 0; visibility: hidden; opacity: 0; width: 75px !important; background-color: #000; z-index: 1; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-transition: visibility 0.25s, opacity 0.25s; transition: visibility 0.25s, opacity 0.25s; }
.gallery-control.prev { left: 0; -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.gallery-control.next { right: 0; }
.featured-gallery-container:hover .gallery-control.active, .featured-gallery-container:focus .gallery-control.active { visibility: visible; opacity: 0.25; }
.featured-gallery-container:hover .gallery-control.active:hover, .featured-gallery-container:focus .gallery-control.active:hover { opacity: 0.5; }
.gallery-control svg { width: 60%; display: block; -ms-user-select: none; user-select: none; }

/* Carousel Galleries */
.carousel-control.left, .carousel-control.right { background-image:none;}
.carousel-control {opacity:1; top:50%;}
.carousel-control > img {width:20%;}

/* Home Page */
#home-feature {position: relative; background: no-repeat left bottom fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; min-height:100%;}
#home-feature .slide { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-color: #000; }
#home-feature .homepage-carousel-controls { position: absolute; top: 2em; right: 3em; }
#home-feature .homepage-carousel-controls svg { width: 60px; max-height: 60px; margin-right: 1em; float: left; opacity: 0.75; cursor: pointer; -webkit-transition: all 0.5s; transition: all 0.5s; }
#home-feature .homepage-carousel-controls svg:nth-child(4) { margin-right: 0; }
#home-feature .homepage-carousel-controls svg.active { opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2); }
#home-feature .homepage-carousel-text { position: relative; }
#home-feature .homepage-carousel-text div { position: absolute; top: 1.5em; left: 0; opacity: 0; visibility: hidden; width: 100%; -webkit-transition: opacity 0.5s, visibility 0.5s; transition: opacity 0.5s, visibility 0.5s; }
#home-feature .homepage-carousel-text div.active { opacity: 1; visibility: visible; }
#home-feature .homepage-carousel-text div p { margin-bottom: 8px; }
#home-feature .homepage-carousel-text div p:first-child { font-size: 1.2em; text-align: center; }
#home-feature .homepage-carousel-text a { color: #fff; background-color: #42322b; padding: 5px 18px; display: inline-block; width: 250px; }
#home-feature .homepage-carousel-text a:hover {  text-decoration: none; }
#home-feature .homepage-carousel-text a img { width: 20px; margin-left: 5px; margin-top: -2px; }
#home-A .container, #home-B .container, #home-C .container, #home-D .container, #home-E .container, #home-F .container { width: 80%; }
#home-B .container, #home-C .container { display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; }
#home-A {background: no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; width:100%; margin-top:5em; clear:both; color:#ffffff;}
#home-B {background: no-repeat left center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; width:100%; margin-top:2em; clear:both; color: #ffffff;}
#home-C {background: no-repeat left center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; width:100%; margin-top:2em; clear:both; color: #ffffff;}
#home-D {background: no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; width:100%; margin-top:2em; clear:both; color: #ffffff;}
#home-E {background: no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; width:100%; margin-top:2em; clear:both; color: #ffffff;}
#home-A .home-page-text, #home-B .home-page-text, #home-C .home-page-text, #home-D .home-page-text, #home-E .home-page-text {padding: 4em 1em; max-width: 700px; background-image:radial-gradient(rgba(80, 71, 66, 0.8), rgba(80, 71, 66, 0.2)); }
#home-E .home-page-text { padding: 8em 1em; }
#home-A .home-page-text a, #home-B .home-page-text a, #home-C .home-page-text a, #home-D .home-page-text a {color:#ffffff;}
#home-A img, #home-B img, #home-C img, #home-D img {width:50%;}
#schedule-link {width:40%;}
#home-A hr, #home-B hr, #home-C hr, #home-D hr {background-color:#fff; border:3px none; height:3px; opacity: .5;}
.home-page-text h2 { padding:0 0 0.5em;}
#home-F { padding: 2em 0; margin-top: 3em; border-top: 2px solid #b39658; border-bottom: 2px solid #b39658; }
#home-F .half-container { width: 50%; float: left; padding: 0 1em; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
#home-F .half-container h2 { margin-bottom: 0.25em; }
#home-F .half-container h2 a { color: #b39658; }
#home-F .half-container p a { color: #2a201b; }
#home-F .half-container h2 a:hover, #home-F .half-container p a:hover { text-decoration: none; }
#home-F .half-container div:first-child { width: 250px; }
#home-F .half-container div:nth-child(2) { width: calc(100% - 250px); padding-left: 1.5em; }
#home-F p { margin: 0; }


/* History Page */
#associates {width:100%; text-align:center; }
#associates img {padding: 3em 2em 2em 2em;}
#history-feature {background: no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position:center; color:#ffffff;}
#historyA {text-align:center; left:43%;}
#historyA p, #historyB p, #historyC p, #historyD p, #historyE1 p, #historyF p {margin-top:3.25em;}
#historyB {left:30%;}
#historyC {left:60%; text-align:center;}
#historyD {left:44.5%; text-align:center;}
#historyF {left:30%;}
#historyB p {padding-right:2em;}
#historyE2 {left:60%; padding-top:7.5em;}
#historyF p {padding-right:3em;}
#history-directions {left:9%; top:40%;}
#history-directions p {text-transform:uppercase; font-weight:bold;}

/* Countertops Page */
#countertops-feature {background: no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; }
#wood-advantages {background: repeat-y center center fixed; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; width:100%; display:table; text-align:center;padding-top: 4em;}
#wood-advantages div { width:50%; float:left; height:150px;}
#wood-advantages h2 { text-transform:uppercase; padding-bottom:1.5em;}
#wood-advantages p, #pdf-btn p, #countertop-green p {margin-bottom:0;}
#wood-advantages .container {float:none; padding: 3em 0;}
#wood-advantages .container div {text-align:left;}
#wood-advantages p.bold { font-size:1.5em;}
#wood-advantages img {float:left; padding-right:1.25em; padding-bottom:2em; width:15%; }
#pdf-download {text-align:center; clear:both; width:100% !important; height:200px !important; padding: 0 5%;}
#pdf-btn { background-color:#42322b; width:200px !important; height:50px !important; margin:2em auto; line-height:50px; color:#c7b299; float:none !important;}
#countertop-green {background-color:#7d8137; text-align:center; height:250px; padding-top:75px;}
#countertop-dark-green {background-color:#4a4c20; text-align:center; height:100px; line-height:100px;}
#countertop-green p {font-size:1.25em;}
#countertop-green p.bold {color:#c7b299; font-size:2em; padding-top:.5em;}
#countertop-dark-green p a {color:#c7b299; font-size:1.3em; text-decoration:none;}
#why-wood, #stair-planning { clear:both; padding: 3em 0;}
#why-wood { position:relative; padding: 5em 0 6em 0;}
#why-wood h2 { padding-bottom: 0.25em; }
.trees {background:url("images/trees.svg") repeat scroll bottom center; width:100% !important;}
#countertop-green img {float:left; width:15%;}
#wood-countertops-information { padding: 2em 0; }
#wood-countertops-information .countertop-info { padding: 1.5em 15px; }
#wood-countertops-information .countertop-info h3 { text-align: center; font-size: 1.5em; font-weight: bold; margin-bottom: 0.5em; }
#wood-countertops-information .countertop-info p:last-child { margin: 0; }
#wood-countertops-information .countertop-info-callout img { max-width: 400px; margin-top: 1.5em; margin-bottom: 1em; }

/* Our Work Pages */
#work-feature {background: no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; }
#work-countertops-feature {background: no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%;}
#work-countertops-feature-2 {background:url("images/work-countertop-2-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; min-height:100%;}
#work-stairs-feature {background: no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%;}
#project-categories { width:100%; text-align:center; margin: 2em 0; clear:both;}
#project-categories img {padding:3em; width:7%;}
#project-categories svg {width:7%; padding:3em;}
#project-categories .current circle {fill:#87735c;}
#project-categories circle:hover {transition:fill 0.5s ease 0s;}
#project-categories circle:hover {fill:#87735c;}
.work-story-text {margin-top:6em;}
#story-text-scroll {height:50px;}
#stairs-intro-text {width:60%; color:#c7b299;}
#stairs-intro-text a {color:#c7b299; }
#stairs-intro-text .italic {font-size:1.5em;}
#stairs-intro-text img {padding:0 1em 0.5em 0;}
#left-quotes {float:left;}
.story-action-text {font-weight:bold; font-size:1.3em;}
#stairs-slide2-text {text-align:center; left:0; top:325px; width:1300px;}
#countertop-slide1-text {text-align:center; left:0; top:0; width:1300px; background-color: rgba(66,50,43,.7); padding:2em;}
#countertop-slide2-text {text-align:center; left:0; top:300px; width:1300px; background-color: rgba(66,50,43,.7); padding:1.5em;}
#brown-text-bar {width:100%; color:#c7b299; }
#brown-text-bar p {margin-bottom:0 !important;}
#stairs-slide2-text .italic {padding-top:3em;}
#our-work .clear {width:100%; clear:both; margin:4em 0;}
#our-work .intro-text {padding:4em 0 0 0;}
#countertops-pinterest {background:url("images/pinterest-countertops.jpg") no-repeat scroll center center rgba(0, 0, 0, 0); color:#ffffff; width:500px; height:150px; border-radius:10px;}
#countertops-pinterest p, #stairs-pinterest p {margin:5.25em 0 0;}
#stairs-pinterest {background:url("images/pinterest-stairs.jpg") no-repeat scroll center center rgba(0, 0, 0, 0); color:#ffffff; width:500px; height:150px; border-radius:10px;}
#project-categories a:hover {text-decoration:none;}
#our-work-craftsmanship { margin-top: 4em; background-repeat: no-repeat; background-position: 25% center; background-attachment: scroll; background-size: cover; }
#our-work-craftsmanship .container { margin: 0 5% 0 0; float: right; }
#our-work-design-center { position: relative; background-repeat: no-repeat; background-position: center center; background-attachment: scroll; background-size: cover; }
#our-work-design-center .container { margin: 0 0 0 5%; float: left; position: relative; z-index: 1; }
#our-work-design-center .back-shadow { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; z-index: 0; background-color: rgba(0, 0, 0, 0.25); }
#our-work-craftsmanship .home-page-text, #our-work-design-center .home-page-text { padding: 12em 1em; color: #fff; }
#work-countertops-feature .feature-text-wrapper a { color:#fff; }

/* Resource Page */
#resource-feature {background: no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%;}
#resource-content .bold {text-transform:uppercase; font-size:1.5em; margin-bottom:.5em;}
#resource-content h2 {margin-bottom:2em;}
#architect-btn, .work-btn {background-color:#42322b; width:25%; text-transform:uppercase; margin-bottom:3em;}
.work-btn {background-color:#42322b; width:60%; text-transform:uppercase; margin-bottom:3em;}
#architect-btn p, .work-btn p {color:#ffffff; text-align:center; padding:.5em; margin-bottom:0; text-decoration:none;}
#architect-btn a:hover, .work-btn a:hover {text-decoration:none;}

/* Stairs Page */
#stairs-feature {background: no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; }
#balusters img, #baluster-text {float:left;}
#balusters img {width:40%;}
#balusters {clear:both; width:100%; padding-top:4em;}
#baluster-text {padding:0 0 0 3em; width:60%;}
#stairs-feature .feature-text-wrapper a {color:#fff;}
.icon-callouts div {float:left; width:100%}
#stairs-consultation-note, #contact-consultation-note {font-size:1.2em;}

/* Mouldings Page */
#mouldings-feature {background:url("images/mouldings-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%;}
#mouldings-feature .feature-text-wrapper a { color: #fff; }
#mouldings {margin:5em 0; clear:both;}
#mouldings .intro-text img {padding:0 5em;}

/* Doors and Windows Page */
#doors-windows-feature {background: no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%;}
#doors-windows-feature .feature-text-wrapper a { color: #fff; }
#doors-windows {margin:5em 0; clear:both;}
#doors-windows .intro-text img {padding:0 5em;}
.action-bar.doors-windows { margin: 5em 0; }
div.doors-windows-points .container, .doors-windows-types .container { width: 80%; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-pack: distribute; -webkit-justify-content: space-around; justify-content: space-around; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
div.doors-windows-point { float: left; width: 33%; text-align: center; padding: 0 30px; margin-bottom: 5em; }
div.doors-windows-point:nth-child(3n+1) { clear: left; }
div.doors-windows-point h2 { font-size: 1.5em; font-style: italic; margin-bottom: 0.2em; }
div.doors-windows-point p { line-height: 1.8; }
div.doors-windows-point svg { max-height: 100px; width: auto; margin-bottom: 2em; }
.kolbe-callout { background-color: #c7b299; padding: 3em 0; text-align: center; }
.kolbe-callout .container {width:60%;}
.manufacturer-logo {display:table-cell; width:16%; padding:1em; vertical-align: middle;}
#kolbe-logo svg {max-height: 85px; margin-top:20px;}
#therma-logo svg {margin-top:25px;}
.logo-wrapper{display:table; width:80%; margin: 0 auto;}
.doors-windows-types { padding: 6em 0 3em 0; }
.doors-windows-types .control-icons { display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; padding: 0 15px; }
.doors-windows-types .control-icons .icon { text-align: center; cursor: pointer; }
.doors-windows-types .control-icons .icon:first-child { margin-right: 6em; }
.doors-windows-types .control-icons .icon svg { max-height: 100px; }
.icon svg circle, .icon svg path, .icon svg rect { -webkit-transition: fill 0.5s; transition: fill 0.5s; }
.icon.windows.active svg circle, .icon.doors.active svg circle { fill: #070808 !important; }
.icon.windows.active svg path, .icon.windows.active svg rect, .icon.doors.active svg path { fill: #c7b299 !important; }
.doors-windows-types .control-icons .icon h3 { font-style: italic; font-size: 1.25em; }
.doors-windows-types .control-icons .icon h3 span { display: block; font-size: 1.75em; text-transform: uppercase; font-style: normal; }
.doors-windows-types .container { width: 100%; padding-top: 3em; }
.window-types, .door-types { width: 100%; max-width: 1200px; margin: 0 auto; }
.window-types h3, .door-types h3 { text-align: center; font-style: italic; width: 100%; margin-bottom: 2em; }
.type-container { width: 50%; float: left; padding: 0 2.5%; margin-bottom: 3em; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
.type-container:nth-child(2n+1) { clear: left; }
.type-container div:first-child { max-width: 200px; }
.type-container div:last-child { width: calc(100% - 200px); padding-left: 2em; }
.type-container span { font-style: italic; font-weight: bold; }
.type-container img { width: 100%; }
.type-container p { margin-bottom: 0; }
.complement-doors-windows { padding: 3em 0; }
.complement-doors-windows header { max-width: 700px; margin: 0 auto; text-align: center; margin-bottom: 3em; padding: 0 15px; }
.complement-doors-windows header h2 { font-style: italic; margin-bottom: 0.25em; }
.complement-doors-windows .callout { display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 3em; }
.complement-doors-windows .callout img { width: 250px; }
.complement-doors-windows .callout div.text { width: calc(100% - 250px); padding-left: 1.5em; }
.complement-doors-windows .callout div.text.opp { padding-left: 0; padding-right: 1.5em; margin-left: -100%; }
.complement-doors-windows .callout div.image.opp { margin-left: calc(100% - 250px); }
.complement-doors-windows .callout h3, .complement-doors-windows .callout p { margin-bottom: 5px; }
.complement-doors-windows .callout p:last-child { font-weight: bold; }
.complement-doors-windows .callout p a { color: #310a00; }
.contact-callout { padding: 3em 15px; text-align: center; border-bottom: 3px solid #42322b; }
.contact-callout a { color: #c7b299; font-size: 2.5em; }
.contact-callout a:hover, .complement-doors-windows .callout p a:hover { text-decoration: none;  }

/* Sustainability Page */
#sustainability-green {background-color:#7d8137; text-align:center; padding: 0 2em;}
#sustainability-green a {font-weight:bold; color:#2a201b;}
#sustainability-green a:hover {text-decoration:none;}
#sustainability-green img {padding:2em;}
#sustainability-content {background:url("images/sustainability-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; width:100%; margin-top:3em; clear:both;}
#sustainability-content .trees {height:200px;}
#sustainability-content h2 {padding:0 0 .5em 0; font-size:3em;}
#sustainability-content-wrapper {width:45%; padding: 2.25em 0 0 10%;}
#sustainability-content p {margin-bottom:.5em;}
#sustainability-content-inside-wrapper {padding:1em; background-image: radial-gradient(rgba(230, 225, 218, 0.8), rgba(230, 225, 218, 0.2)); box-shadow: -18px 0 5px -5px rgba(230, 225, 218, 0.3), 18px 0 5px -5px rgba(230, 225, 218, 0.3);}

/* Contact Page / Registration Page*/
#contact-form, #registration-form {width:60%; float:left;}
#contact-form h2, #registration-form h2 {margin-bottom:1em;}
#contact-form .bold {font-size:2em;}
#contact-info {width:40%; float:left; padding-left:4em;}
#contact-info p {font-size:1.25em;}
#testimonials p {font-size:1em;}
.testimonial-business{ font-style:italic; color:#c7b299; }
#contact-form h2#countertop-quote-header { margin:1em 0 0.2em; }
#contact-form a, #registration-form a{ color:#2a201b; font-weight:bold;}
#contact-info div.contact-resource-callout h2 { font-size: 1.75em; }
#contact-info div.contact-resource-callout p.about { font-size: 1em; }
#contact-info div.contact-resource-callout p a { display: inline-block; padding: 5px 0; width: 100%; background-color: #42322b; color: #fff; text-align: center; }
#contact-info div.contact-resource-callout p a:hover { text-decoration: none; }

/* Warranty Page */
section.warranty-content { width: 50%; display: block; margin: 3em auto; }
header.warranty-header { background-size: cover; background-attachent: scroll; background-position: center center; height: 30vh; position: relative; }
header.warranty-header h2 { padding-left: 25%; color: white; position: absolute; bottom: 16px; }

/* FAQ Page */
#faq-content h3 {font-size:1.5em; font-weight:bold; line-height:1.3em; padding: 1em 0 .5em 0;}
#faq-content .title-image {background:url("images/faq-title.jpg") no-repeat center top scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
#faq-content h2, #vendor-content h2 {padding:2.2em 0; font-size:3em; text-align:center;}


/* Vendor Partner Page */
#vendor-content h3 {font-size:1.25em; font-weight:bold; padding-top:1.5em;}
.partner > img {width:80%;}
.partner {float:left; padding:5%; width:30%; text-align:center; font-weight:bold;}
.partner a {color:#b39658; font-weight:normal;}
#vendor-content .title-image {background:url("images/vendors-title.jpg") no-repeat left center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
.title-image {width:100%; height:250px; margin-bottom:5em;}

/* News & Blog Post Pages & Careers */
.blog-post.container { margin-top:5em;}
#news-content h2, #careers-content h2 {padding:1.6em 0 .5em 0; font-size:3em; text-align:center; color:#ffffff;}
#news-content h3, #careers-content h3 {text-align:center; font-style:italic; color:#ffffff;}
#news-content article h2, #careers-content article h2 {font-size:1.75em;padding-bottom:.5em; text-align:left !important; padding-top:0;}
#news-content article h2 a, article a, #careers-content article h2 a {color:#2a201b;}
#news-content .title-image {background:url("images/news-title.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
#careers-content .title-image {background:url("images/news-title.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
.moretag {color:#2a201b; font-weight:bold; margin:1em 0 0 0; display:inline-block;}
#news-content article > a, #careers-content article > a {color:#b39658;}
#news-content article a:visited, #news-content article a:hover, #careers-content article a:visited, #careers-content article a:hover {color:#2a201b;}
#secondary, .entry-footer, .navigation.post-navigation {display:none;}
#news-content article {border-bottom:1px solid #927f6b; padding: 0 2em;}
#careers-content article {border-bottom:1px solid #927f6b;}
.entry-meta, .entry-meta a {color:#927f6b;}
#social-news img {width:7%;margin:.5em;}
#social-news {text-align:center; margin-top:5em;}
#news-content article:first-of-type {background-color:#eae0d6; padding:2em; border-bottom:none; border-radius:10px; margin:0 0 4em 0; display:table;}
#news-content article:last-of-type, #careers-content article:last-of-type {border-bottom:none;}
.attachment-post-thumbnail.wp-post-image {float:left; padding: 0 1.5em 1.5em 0;}
.back-btn {text-align:center; margin: 1em auto 0 auto; }
.back-btn p {margin-bottom:0;}
.back-btn a {color:#2a201b; width:30%; padding:1em 3em; border: #2a201b solid 1px; text-decoration:none; background-color:#ffffff; transition: background-color 0.5s ease;}
.back-btn a:hover{background-color:#2a201b; color:#ffffff; text-decoration:none;}
article a:hover, article a:focus, article a:active, article a:visted, .back-btn a:visited {color:#2a201b !important; }
#news-content .attachment-post-thumbnail.wp-post-image, #careers-content .attachment-post-thumbnail.wp-post-image {display:none;}
#news-content article:first-of-type .attachment-post-thumbnail.wp-post-image, #careers-content article:first-of-type .attachment-post-thumbnail.wp-post-image {display:block; width:auto; height:260px;}
#news-content .container, #careers-content .container {margin-bottom:3em;}
#post-169 .entry-title {display:none;}
#careers-content #post-169 {border-bottom:none;}
.gform_wrapper .gform_fileupload_multifile .gform_drop_area {width:90%;}
.gform_wrapper .ginput_complex {width:93% !important;}
small {font-style: italic; line-height:.9 !important;}
.entry-content li, small {text-align: left;}
.single .byline {display: none !important;}


/* Thank You Pages */
#thank-you-content .title-image {background:url("images/thank-you-title.jpg") no-repeat center top scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; height:175px !important;}
#thank-you-content .entry-header {display:none;}
#thank-you-content .title-image h2 {line-height:175px;}
#thank-you-content .entry-content h2 {padding-bottom:.5em;}
#thank-you-content {padding-top:50px;}

/* Error 404 Page */
.error404 .page-header, .error404 .page-content {text-align:center;}
.error404 .intro-text {text-align:left;}
.error404 .icon-callouts img {width:100%; padding: 0 3em;}
.error404 .intro-text h2 {padding:1em 0;}

@media all and (max-width: 2305px) {
#project-categories img {padding:3em; width:9%;}
#project-categories svg {width:9%;}
	}
@media all and (max-width: 1780px) {
#project-categories img {padding:3em; width:10%;}
#project-categories svg {width:12%;}
	}
@media all and (max-width: 1700px) {
	#our-work-craftsmanship .container { width: 550px; margin: 0 2.5% 0 0; }
	#our-work-craftsmanship .home-page-text, #our-work-design-center .home-page-text { padding: 8em 1em; }
}

@media all and (max-width: 1600px) {
	#home-F .container { width: 100%; }
}

@media all and (max-width: 1520px) {
.menu-header_menu_1-container, .menu-header_menu_2-container{ width:47%;}
.menu-header_menu_1-container ul li {padding-right:2em;}
.menu-header_menu_2-container ul li {padding-left:2em;}
#wood-advantages .container{width:70% !important;}
.kolbe-callout .container {width:80%;}
	}

@media all and (max-width: 1416px) {
	#home-A .container, #home-B .container, #home-C .container, #home-D .container, #home-E .container, #home-F .container { width: 100%; }
	#sustainability-content-wrapper {width:50%;} #project-categories img {width:15%} #project-categories svg {width:15%;}
	#our-work-craftsmanship .home-page-text	{ padding: 4em 1em; }
}

@media all and (max-width: 1267px) {
	.menu-header_menu_1-container, .menu-header_menu_2-container{ width:46.5%;}
	.menu-header_menu_1-container ul li {padding-right:1.5em;}
	.menu-header_menu_2-container ul li {padding-left:1.5em;}
}
@media all and (max-width: 1200px) {
	html { padding-top: 42px !important; }
	.navbar {width:75px;}
	#nav-logo { height: 42px; position: fixed; top: 0; left: 0; right: 0; z-index: 9999; width: 100%; float: none; padding: 0 5px; background-color: #2a201b; text-align: left; }
	#nav-logo a { height: auto; display:inline; }
	#nav-logo img { max-height: 42px; }
	#mobile-menu-icon, #mobile-menu, #mobile-menu-backdrop { display: block; }
	header #site-navigation {background-color:transparent;}
	.menu-header_menu_1-container, .menu-header_menu_2-container {display:none;}
	#wprmenu_bar { display: block; height: 50px; }
	#wprmenu_menu > ul {top:40px;}
	#wprmenu_bar .wprmenu_icon { width: 25px; margin-top: 6px; }
	#wprmenu_bar .wprmenu_icon span { width: 25px; }
	#site-navigation div.nav-contact { position: fixed; top: 0; left: 0; width: calc(100% - 136px); margin-left: 67px; text-align: center; padding-top: 5px; }
	#site-navigation div.nav-contact p { width: 145px; margin: 0 auto; }
	#site-navigation.fixed div.nav-contact { top: 0; }
	#home-F .half-container { width: 100%; float: none; }
	#home-F .half-container:first-child { margin-bottom: 1.5em; }
	#home-feature .homepage-carousel-controls { top: 4em; }
	#home-feature .feature-text, .feature-text { position: relative; top: 0; padding-top: 95px; padding-bottom: 53px; max-width: 750px; padding-left: 0; }
	.feature-text h1 { font-size: 1.75em; }
	.fullscreen { height: auto; }
	.feature-text-logo { width: 100%; max-width: 350px; margin-bottom:1em; }
	div.doors-windows-points .container { width: 100%; }
	div.doors-windows-point h2 { font-size: 1.5em; }
}
@media all and (max-width: 1100px) {
	#our-work-craftsmanship { background-position: 10% center; }
	#our-work-craftsmanship .container, #our-work-design-center .container { width: 100%; float: none; margin: 0; background-image:radial-gradient(rgba(80, 71, 66, 0.8), rgba(80, 71, 66, 0.2)); }
	#our-work-craftsmanship .home-page-text, #our-work-design-center .home-page-text { padding: 4em 0; }
}
@media all and (max-width: 1091px) {
.menu-header_menu_1-container, .menu-header_menu_2-container{ width:45%;} #sustainability-content-wrapper {width:70%;} #project-categories img, #project-categories svg { width:18%;} .carousel-control > img {width:30%}
	}
@media all and (max-width: 1000px) {
	.type-container { width: 100%; }
}
@media all and (max-width: 977px) {
#footer-logo{ width:32%; padding:0 2em 0 1em;} #main-footer #site-navigation {width:60%;} .container {width:100% !important; padding:0 1.5em;} #wood-advantages .container{width:95% !important;} .contact-btn, .newsletter-btn {width:80%;} .icon-callouts {padding-left:5%; text-align:center;} .icon-callouts img {float:none; padding:0; width:20%;} .icon-callouts p {text-align:left;} #project-categories img, #project-categories svg {width:21%;}
	}
@media all and (max-width: 870px) {
	.partner {width:45%;}
}
@media all and (max-width: 800px) {
	#home-feature { padding-bottom: 150px; }
	#home-feature div.scrolling-arrow { margin-top: 200px; }
	#home-feature .homepage-carousel-controls { position: static; padding-bottom: 90px; margin-top: -300px; width: 100%; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-align: center; -webkit-justify-content: center; justify-content: center; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
	.feature-text-logo { margin: 0 auto 1em auto; }
	.fullscreen { min-height: 100vh; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
	#home-feature.fullscreen { display: block; }
	#home-feature .feature-text, .feature-text { padding-top: 8px; padding-bottom: 0; margin: 0 auto; }
	#home-feature .homepage-carousel-text { width: 100%; }
}
@media all and (max-width: 769px) {
#home-feature .slide, #home-A, #home-B, #home-C, #home-D, #home-E, #work-feature, #countertops-feature, #stairs-feature, #mouldings-feature, #resource-feature, #history-feature, #work-stairs-feature, #work-countertops-feature, #wood-advantages, #doors-windows-feature { background-attachment: scroll; }
#home-B, #home-C, #home-E, #home-feature .slide:nth-child(2), #home-feature .slide:nth-child(3), #home-feature .slide:nth-child(5) { background-position: center center; }
#home-D, #home-feature .slide:nth-child(4) { background-position: 70% center; }
.menu-header_menu_1-container, .menu-header_menu_2-container {display:none;} #wood-advantages div {width:100%; height:125px;} #wood-advantages .container{width:85% !important;} #wood-advantages {height:1460px;} #wood-advantages p.bold {padding: 0 .5em;} #history-gallery.featured-gallery {height:300px !important;} .featured-gallery {height:338px;} #history-gallery.featured-gallery > div {width:3600px;} .featured-gallery div.featured-gallery-post {height:300px; width:600px;} #history-gallery .gallery-text-wrapper {top:20%;} #historyA p, #historyB p, #historyC p, #historyD p, #historyE1 p, #historyF p {margin-top:2.5em;} #historyA {left:23%; padding:0 15%;} #historyA p { width:205px; } #historyB {left:25%;} #historyB p {width:295px;} #historyC {left:41%;} #historyD {left:26%;} #historyD h2 { width: 306px; padding-left: 2.8em; } #historyD > p { padding-left: 6.45em; padding-right:0; width: 303px; margin-top: 0.5em;} #historyE1 {padding: 0 45% 0 0;} #historyE2 {left:55%; padding: 5em 10em 0 0;} #historyF { width: 250px; } #historyF p {padding-right:0;} #stairs-gallery.featured-gallery > div {width:13898px;} .timelapse iframe{height:300px; width:600px;}.timelapse {width:580px !important;} #stairs-intro-text .italic {font-size:1em;} .featured-gallery div.featured-gallery-post.text-block-brown, .featured-gallery div.featured-gallery-post.text-block-tan {height:338px;} .gallery-text-wrapper {top:4%; width:90%; left:5%; right:5%;} #stairs-slide2-text {top:135px; width:600px;} #stairs-intro-text {left:5%; width: 75%; top:6%;} #brian-sig {width:35%;} #stairs-intro-text p {margin-bottom:1em;} #social-news img {width:10%;} #history-directions {width:25%; top:45% !important;} .story-action-text {padding:0;} #mouldings .intro-text img {padding:3em;}  #sustainability-content .trees {height:115px;} .featured-gallery div#final-stairs-picture {width:738px;} #countertop-slide1-text {width:100%; padding-top: 20px;} #countertop-slide1-text div br:nth-child(2) { display:none; } #countertop-slide2-text {width:100%; top:75px;} #countertop-gallery.featured-gallery > div {width:15000px;} #countertop-gallery-two.featured-gallery > div {width:10800px;} .featured-gallery div.featured-gallery-post.text-block-brown, .featured-gallery div.featured-gallery-post.text-block-tan, #countertop-slide1-text{height:323px;}
div.doors-windows-point:nth-child(3n+1) { clear: none; }
div.doors-windows-point:nth-child(2n+1) { clear: both; }
div.doors-windows-point { width: 50%; }
.kolbe-logo, .kolbe-videos { float: none; width: 100%; margin: 0 auto 2em auto; }
.kolbe-videos { margin-bottom: 0; }
.doors-windows-types .control-icons .icon h3 { font-size: 1em; }
.complement-doors-windows .callout div.text { width: 100%; padding-left: 0; }
.complement-doors-windows .callout div.image { margin: 0 auto 2em auto; }
.complement-doors-windows .callout div.text.opp, .complement-doors-windows .callout div.image.opp { margin-left: auto; }
.gallery-control { bottom: 13px; width: 50px !important; }
	}
@media all and (max-width: 740px) {
#main-footer #site-navigation , #footer-logo div, #footer-logo { width:100%; float:none; text-align:center;} #footer-logo img {width:35%;} #footer-phone {padding-left:0;} .newsletter-ad, .contact-ad {width:100%;} .newsletter-ad { border-bottom: 1px solid #180b03; border-right:none;} #menu-footer-menu {display:none;} .intro-text, .icon-callouts {width:100%;} .icon-callouts img {padding:1em;} .newsletter-btn {margin-bottom:2em;} .contact-ad {margin:1em 0 2em 0;} .icon-callouts p {padding:1.5em 0 0 0;} .gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {width:100% !important;} .call-out-bar p {padding:1em;} #sustainability-content-wrapper {width:100%; padding: 0 10%;}#balusters img, #baluster-text {float:none;} #balusters {text-align:center; padding-top:0;} #baluster-text {width:100%; text-align:left; padding-top:2em; padding-left:0;} .icon-callouts p {text-align:center;} #project-categories img {width:25%; padding: 2em;} #footer-social {width:100%; text-align:center; float:none; padding: 1em 0;} #footer-social img { width:8%;} .carousel-control > img {width:40%} #project-categories svg {width:30%;} .gform_wrapper .ginput_complex, .gform_wrapper .gform_fileupload_multifile .gform_drop_area, .gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea {width:100% !important;} #careers-content article {padding:0;}
	}
@media all and (max-width: 684px) {
#wood-advantages {height:1600px;} .trees {margin-top:100px;} #contact-form, #registration-form, #contact-info {width:100%; float:none;} #contact-info {padding:3em 1em;} #contact-content, #registration-content {margin-top:2em;}
#home-F .half-container { -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; padding: 0; }
#home-F .half-container div:first-child { display: block; margin: 0 auto 1em auto; }
#home-F .half-container div:nth-child(2) { width: 100%; padding-left: 0; }
}
@media all and (max-width: 636px) {
#countertop-dark-green {height:150px; line-height:1.75; padding-top:2em;}
	}
@media all and (max-width: 601px) {
 #site-navigation button {display:none;} #footer-logo img {width:40%;} #countertop-green {height:250px;} .partner {width:100%;} #architect-btn {width:100%;}
 #home-A .container, #home-B .container, #home-C .container, #home-D .container, #home-E .container { padding: 0; }
 #home-A .home-page-text, #home-B .home-page-text, #home-C .home-page-text, #home-D .home-page-text, #home-E .home-page-text { margin: 0; padding: 3em 15px; }
 #home-A img, #home-B img, #home-C img, #home-D img, #schedule-link { width: 100%; }
	.expertise-badge .content { -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
	.expertise-badge .content div:first-child, .expertise-badge .content div:last-child { width: 100%; padding-left: 0px; }
	.expertise-badge .content div:last-child { padding-top: 15px; }
	.expertise-badge .content svg { max-width: 200px; margin: 0 auto; }
}

@media all and (max-width: 568px) {
 #home-feature .homepage-carousel-controls svg { width: 50px; }
.navbar {top:0; position:fixed;}
#wprmenu_menu_ul {margin:3em 0 4em 0 !important;}
#wood-advantages {height:1490px;}
.trees {height:113px !important; margin-top:0;}
 #project-categories img {padding:40%; padding:1em;}
 .title-image {height:150px;}
#faq-content h2, #vendor-content h2 {padding: 1em 0;}
#news-content h2 {padding:.8em 0 0;}
#social-news img {width:15%;}
 #wood-advantages {height:1400px;}
 #sustainability-content {background:url("images/sustainability-feature.jpg") no-repeat scroll 70% bottom / cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; height:570px; }
 .carousel-control > img {width:55%}
 .manufacturer-logo {display:block; width:100%;}
 .logo-wrapper {margin: 0 auto;}
/*.featured-gallery-post > img {height:400px; width:auto;}
.featured-gallery {height:400px;}
.featured-gallery div.featured-gallery-post {width:auto;}
.featured-gallery div.featured-gallery-post.text-block-tan {height:400px;}
.featured-gallery div.featured-gallery-post.text-block-brown {height:400px;}*/
	}
@media all and (max-width: 550px) {
	.type-container div:first-child { margin: 0 auto; }
	.type-container div:last-child { width: 100%; padding-left: 0; margin-top: 2em; }
	div.doors-windows-point { width: 100%; padding: 0; margin-bottom: 2em; }
	.doors-windows-types .control-icons .icon:first-child { margin-right: 0; margin-bottom: 2em; }
	.doors-windows-types .control-icons .icon { width: 100%; }
	.complement-doors-windows header h2 { font-size: 1.75em; }
	.contact-callout a { font-size: 1.75em; }
}

@media all and (max-width: 508px) {
#wood-advantages h2 {padding-bottom:0;} #wood-advantages img {float:none; padding-bottom:0; padding-right:0;} #wood-advantages .container div {text-align:center;} #wood-advantages div {height:200px;} #wood-advantages {height:2200px;} .newsletter-btn, .contact-btn, #gform_submit_button_1 {width:100%;} #countertop-green img {float:none; width:25%;} #countertop-green {height:450px;} #project-categories img {width:28%; padding:1em;} .icon-callouts img {width:35%;} #pdf-download {height:370px !important;} #our-work h2{text-align:center;} .work-btn {width:100%;} #stairs-pinterest {background:url("images/pinterest-stairs.jpg") repeat scroll center center rgba(0, 0, 0, 0); border-radius:0;}
#countertops-pinterest {background:url("images/pinterest-countertops.jpg") repeat scroll center center rgba(0, 0, 0, 0); border-radius:0;} .contact-ad img {width:100%;}
	.multiple-phone { -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
	.multiple-phone .phone:first-child { margin-right: 0; margin-bottom: 1em; }
	.multiple-phone .phone { width: 100%; text-align: center; }
	}
@media all and (max-width: 445px) {
.icon-callouts img {float:none;} .icon-callouts {text-align:center;} #footer-logo img {width:60%;} #faq-content h2, #vendor-content h2 {padding:1em 0;} .back-btn {width:100%;} #news-content .title-image {height:225px;} #news-content h2 {padding:1.5em 0 0;} #project-categories svg {width:30%; padding:.5em;} .pinterest-call {margin:2em 0;}
	}
@media all and (max-width: 418px) {
	#news-content h2 {padding:.8em 0 0;}
	}
@media all and (max-width: 385px) {
.title-image {margin:8em 0 3em 0;} #sustainability-content h2 {padding:.75em 0 0.5em;}  #sustainability-content {height:630px;} .trees{ height:65px !important;}  #vendor-content h2 {padding:.5em 0 !important;} #footer-social img {width:20%} #mouldings .intro-text img {padding:0;} #social-news img {width:20%;} article {text-align:center;} article p {text-align:left;} #news-content article h2 {text-align:center!important; } .attachment-post-thumbnail.wp-post-image {float:none; padding: 0 0 2em 0;} .back-btn p {text-align:center;} .back-btn {width:100%;} .back-btn a {width:100% !important; padding:1em !important;} #wprmenu_menu > ul {top:0;} #gform_3, #gform_2 {font-size:.5em; width:100%;}
	}

@media all and (min-width: 1200px) and (max-height: 800px) {
	.feature-text { top: 8%; }
	.feature-text h1 { font-size: 1.75em; }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only
.feature-text {width:55%;left:2%;}
.fullscreen {height:590px;}
#home-feature {background:url("images/home-feature-mobile.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment:scroll;}
#home-feature .feature-text {left:3%; width:55% !important; top:31%;}
#home-feature .feature-text p {margin-bottom:1em;}
#home-A .home-page-text {width:70%;}
#home-B {background:url("images/homeA.jpg") no-repeat 40% center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:550px; }
#home-C {background:url("images/homeB.jpg") no-repeat 60% center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:550px; }
#home-C .home-page-text {padding:5em 0 2em 5em;}
#home-F {background:url("images/homeE.jpg") no-repeat 50% center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:500px;}
#home-F .home-page-text {padding-top:3em;}
#home-D {background:url("images/wood-bg.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
#contact-info {padding-left:2em}
#sustainability-content {background:url("images/sustainability-feature.jpg") no-repeat scroll 70% bottom / cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; height:600px;}
#sustainability-content-wrapper {width:100%; padding: 0 10%;}
#sustainability-content .trees {height:185px;}
#wood-advantages {background:url("images/wood-bg.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#wood-advantages img {width:15%;}
#wprmenu_menu ul {padding:50px 0 0 0;}
.newsletter-btn, .contact-btn, #gform_submit_button_1 {width:45%;}
#countertops-feature {background:url("images/countertops-feature-mobile.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
#wood-advantages {background:url("images/wood-bg.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment:scroll;}
#history-feature {background: url("images/history-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position:center;}
#resource-feature {background:url("images/resources-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#work-feature {background:url("images/work-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#stairs-feature {background:url("images/stairs-feature-mobile.jpg") no-repeat left top; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#mouldings-feature {background:url("images/mouldings-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#mouldings img {padding: 0 3em;}
.scrolling-arrow img {width:10%;}
#stairs-feature .feature-text {width:60%; top:3%;}
#countertops-feature .feature-text {width:60%;}*/
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only
.fullscreen {height:680px;}
#home-feature {background:url("images/home-feature-mobile.jpg") no-repeat left bottom scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:680px;}
.feature-text {top:35%;}
#home-feature .feature-text {top:45%;}
#home-feature .feature-text  p {margin-bottom:.5em !important;}
#home-B {background:url("images/homeA.jpg") no-repeat left center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:550px; }
#home-C {background:url("images/homeB.jpg") no-repeat right center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:550px; }
#home-F {background:url("images/homeE.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:500px;}
#home-D {background:url("images/wood-bg.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
#home-B .home-page-text, #home-A .home-page-text, #home-C .home-page-text {width:70%;}
#home-B .home-page-text {padding:0;}
#home-B .container {width:90%;}
#home-F .home-page-text {width:55%;}
#home-E .home-page-text {width:50%;}
#project-categories img {width:18%;}
#countertops-feature {background:url("images/countertops-feature-mobile.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
#wood-advantages {background:url("images/wood-bg.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#history-feature {background: url("images/history-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position:center;}
#resource-feature {background:url("images/resources-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#work-feature {background:url("images/work-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#stairs-feature {background:url("images/stairs-feature-mobile.jpg") no-repeat left center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#mouldings-feature {background:url("images/mouldings-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#sustainability-content {background:url("images/sustainability-feature.jpg") no-repeat scroll 90% center / cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; }
#stairs-feature .feature-text {left:.5%; top:1%; width:50%}
.scrolling-arrow img {width:12%;}
*/

}

/*Responsive Background Images*/
@media screen and (min-width:1500px) {
	/*Homepage*/
	.homepage-slide-wood-countertops, #home-A, #home-feature { background-image: url('images/homepage-slide-wood-countertops-l.jpg?v2'); }
	.homepage-slide-stairs, #home-B { background-image: url('images/homepage-slide-stairs-l.jpg?v2'); }
	.homepage-slide-windows-doors, #home-D { background-image: url('images/homepage-slide-windows-doors-l.jpg?v2'); }
	.homepage-slide-custom-millwork, #home-C { background-image: url('images/homepage-slide-custom-millwork-l.jpg?v2'); }
	#home-E { background-image: url('images/best-woodwork-forward-l.jpg?v2'); }
	/*Wood Countertops*/
	#countertops-feature { background-image: url("images/countertops-feature-l.jpg"); }
	#wood-advantages { background-image: url("images/wood-bg-l.jpg"); }
	/*Stairs*/
	#stairs-feature { background-image: url('images/stairs-feature-l.jpg?v2'); }
	/*Doors and Windows*/
	#doors-windows-feature { background-image: url('images/doors-windows-feature-l.jpg?v3'); }
	/*Our Work*/
	#work-feature { background-image: url('images/work-feature-l.jpg?v2'); }
	#our-work-craftsmanship { background-image: url('images/homeE-l.jpg?v2'); }
	#our-work-design-center { background-image: url('images/work-design-center-l.jpg?v2'); }
	#work-stairs-feature { background-image: url('images/work-stairs-feature-l.jpg?v2'); }
	#work-countertops-feature { background-image: url('images/work-countertop-feature-l.jpg?v2'); }
	/*Resource*/
	#resource-feature { background-image: url('images/resources-feature-l.jpg?v2'); }
	/*History*/
	#history-feature { background-image: url('images/history-feature-l.jpg?v2'); }
}
@media screen and (min-width: 1000px) and (max-width: 1500px) {
	/*Homepage*/
	.homepage-slide-wood-countertops, #home-A, #home-feature { background-image: url('images/homepage-slide-wood-countertops-m.jpg?v2'); }
	.homepage-slide-stairs, #home-B { background-image: url('images/homepage-slide-stairs-m.jpg?v2'); }
	.homepage-slide-windows-doors, #home-D { background-image: url('images/homepage-slide-windows-doors-m.jpg?v2'); }
	.homepage-slide-custom-millwork, #home-C { background-image: url('images/homepage-slide-custom-millwork-m.jpg?v2'); }
	#home-E { background-image: url('images/best-woodwork-forward-m.jpg?v2'); }
	/*Wood Countertops*/
	#countertops-feature { background-image: url("images/countertops-feature-m.jpg"); }
	#wood-advantages { background-image: url("images/wood-bg-m.jpg"); }
	/*Stairs*/
	#stairs-feature { background-image: url('images/stairs-feature-m.jpg?v2'); }
	/*Doors and Windows*/
	#doors-windows-feature { background-image: url('images/doors-windows-feature-m.jpg?v3'); }
	/*Our Work*/
	#work-feature { background-image: url('images/work-feature-m.jpg?v2'); }
	#our-work-craftsmanship { background-image: url('images/homeE-m.jpg?v2'); }
	#our-work-design-center { background-image: url('images/work-design-center-m.jpg?v2'); }
	#work-stairs-feature { background-image: url('images/work-stairs-feature-m.jpg?v2'); }
	#work-countertops-feature { background-image: url('images/work-countertop-feature-m.jpg?v2'); }
	/*Resource*/
	#resource-feature { background-image: url('images/resources-feature-m.jpg?v2'); }
	/*History*/
	#history-feature { background-image: url('images/history-feature-m.jpg?v2'); }
}
@media screen and (max-width: 1000px) {
	/*Homepage*/
	.homepage-slide-wood-countertops, #home-A, #home-feature { background-image: url('images/homepage-slide-wood-countertops-s.jpg?v2'); }
	.homepage-slide-stairs, #home-B { background-image: url('images/homepage-slide-stairs-s.jpg?v2'); }
	.homepage-slide-windows-doors, #home-D { background-image: url('images/homepage-slide-windows-doors-s.jpg?v2'); }
	.homepage-slide-custom-millwork, #home-C { background-image: url('images/homepage-slide-custom-millwork-s.jpg?v2'); }
	#home-E { background-image: url('images/best-woodwork-forward-s.jpg?v2'); }
	/*Wood Countertops*/
	#countertops-feature { background-image: url("images/countertops-feature-s.jpg"); }
	#wood-advantages { background-image: url("images/wood-bg-s.jpg"); }
	/*Stairs*/
	#stairs-feature { background-image: url('images/stairs-feature-s.jpg?v2'); }
	/*Doors and Windows*/
	#doors-windows-feature { background-image: url('images/doors-windows-feature-s.jpg?v3'); }
	/*Our Work*/
	#work-feature { background-image: url('images/work-feature-s.jpg?v2'); }
	#our-work-craftsmanship { background-image: url('images/homeE-s.jpg?v2'); }
	#our-work-design-center { background-image: url('images/work-design-center-s.jpg?v2'); }
	#work-stairs-feature { background-image: url('images/work-stairs-feature-s.jpg?v2'); }
	#work-countertops-feature { background-image: url('images/work-countertop-feature-s.jpg?v2'); }
	/*Resource*/
	#resource-feature { background-image: url('images/resources-feature-s.jpg?v2'); }
	/*History*/
	#history-feature { background-image: url('images/history-feature-s.jpg?v2'); }
}