@charset "utf-8";
/* KStair Custom CSS Document */

body { font-family: "ff-meta-serif-web-pro", serif; color:#2a201b; background-size:100%;}
html, body { height:100% !important; width:100% !important; background-size:cover;}
.container {width:960px;}
.bold {font-weight:bold}
.italic {font-style:italic;}
h2 {font-size:2.25em;}
h1 {font-size:2.5em;}
h3 {font-size:1.5em;}
.center {text-align:center !important;}
.border-bottom {border-bottom:2px solid #b39658; padding:1.5em 0;}

/* Header */
header #site-navigation { background-color:#42322b;}
header #site-navigation a { color:#c7b299;}
header a:hover, header .current_page_item a { color:#ffffff !important; }
.menu-header_menu_1-container, .menu-header_menu_2-container { width:47.5%; float:left; line-height:90px;}
#nav-logo {float:left; height:90px; width:75px; }
#nav-logo img { max-width:75px; width:100%; height:auto; }
.menu-header_menu_1-container ul {float:right;}
.menu-header_menu_1-container ul li {padding: 0 3em 0 0;}
.menu-header_menu_2-container ul {float:left;}
.menu-header_menu_2-container ul li {padding: 0 0 0 3em;}
.fixed {position: fixed !important; top: 0; height: 90px; z-index: 9999;}
.navbar { border-radius:0; position:absolute; width:100%; height:90px; bottom:0; margin-bottom:0; z-index:9999;}
#scrolling-content{height:100px;}
.page-id-186 .navbar, .page-id-169 .navbar, .page-id-114 .navbar, .page-id-112 .navbar, .page-id-107 .navbar, .page-id-11 .navbar, .page-id-203 .navbar, .page-id-207 .navbar, .page-id-212 .navbar, .page-id-187 .navbar, .page-id-50 .navbar, .page-id-26 .navbar, .page-id-21 .navbar, .page-id-17 .navbar, .single .navbar, .archive .navbar, .error404 .navbar, .page-id-228 .navbar {top:0 !important; position:fixed !important;}

/* Arrows */
.bounce {
 position: absolute;
 bottom: 30px;
 left: 50% ;
 width: 100%;
 height: 60px ;
 margin-left:-20px;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;
 animation: bounce 2s 2;
 -webkit-animation: bounce 2s 2;
 -moz-animation: bounce 2s 2;
 -o-animation: bounce 2s 2;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}
 





/* Footer */
footer .site-info { background-color:#42322b; text-align:center; color:#a7917a; padding:1em;}
footer .site-info p { margin-bottom:0; }
#main-footer { background-color:#2a201b; color:#927f6b;height:325px; clear:both; width:100%;}
footer a, footer a:visited {color:#927f6b;}
footer a:hover, footer .current_page_item a { color:#ffffff; font-weight:bold; }
#menu-footer-menu {-webkit-column-count: 2; /* Chrome, Safari, Opera */-moz-column-count: 2; /* Firefox */column-count: 2;-webkit-column-gap: 40px; /* Chrome, Safari, Opera */-moz-column-gap: 40px; /* Firefox */column-gap: 40px;list-style-type: none; border-left: 1px solid #927f6b; padding:0 0 0 2.5em; margin:1em 0 0 1em; }
#main-footer #site-navigation {float:left; width:40%;}
#main-footer .main-navigation {clear:none;}
#main-footer .menu li {float:none;}
#footer-logo {width:48%; float:left;}
#footer-logo img {width:60%; }
#footer-phone {font-size:2.75em; margin-bottom:0; padding: 0 0 0 5.4em; color:#b39658;}
#main-footer .container { padding:2em 0;}
#top-page-button {width:100%; text-align:center;}
#top-page-button p {margin-bottom:0; text-transform:uppercase;background-color:#ffffff;width: 78px;height: 35px; margin: 50px auto 0;/* top-right top-left bottom-left bottom-right *//* or from 10.30 clockwise */border-radius: 50% / 0 0 100% 100%;}
#top-page-button a:hover { text-decoration:none; color:#4a3228;}
#footer-social {width:7%; float:left; padding: 0.5em 1.5em 0 0;}
#footer-social img {width:100%; padding:0 0 1em 0;}

/* Action Bar */
.action-bar {width:100%; clear:both; height:150px; margin:1.25em 0; text-align:center;}
.newsletter-ad, .contact-ad {width:50%; float:left;}
.newsletter-ad {border-right: #180b03 solid 1px;}
.newsletter-btn, .contact-btn, #gform_submit_button_1{background-color:#42322b; margin:0 auto; width:35%;}
.contact-btn p,  #gform_submit_button_1, .newsletter-btn, button:hover{color:#ffffff; text-transform:uppercase;}
.contact-btn p:hover,  #gform_submit_button_1, .newsletter-btn, button:hover {color:#ffffff; text-decoration:none;}
ph, .subscribe {font-size:2em; text-transform:uppercase;}
.action-bar p {margin-bottom:0; padding:.5em;}
.subscribe {padding:0 !important;}
.newsletter-btn {font-size:1em; padding:0.8em 0 0.6em 0;}
.action-bar .italic {padding-bottom:1em;}

/*Gravity Forms turned Wufoo Form*/
 #gform_submit_button_1, .newsletter-btn, button:hover, .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type="submit"] {border:none; box-shadow:none;text-shadow:none; border-radius: 0; font-family: "ff-meta-serif-web-pro"; text-transform:uppercase; color:#ffffff; background-color:#42322b;}
.gform_confirmation_message_1.gform_confirmation_message { font-weight:bold; color: #7d8137; font-size:1.1em;}
.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium, .gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea {width:90% !important;}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, select {border:1px solid #c7b299;}
.gform_wrapper .top_label input.medium {font-size:1em; padding:8px;}
.gform_wrapper input[type="text"], .gform_wrapper input[type="url"], .gform_wrapper input[type="email"], .gform_wrapper input[type="tel"], .gform_wrapper input[type="number"], .gform_wrapper input[type="password"], .gform_wrapper select { font-size:1em !important;}
#gform_submit_button_3, #gform_submit_button_2 {width:8em;}
#gform_submit_button_1 {margin-bottom:2em;}
.gform_wrapper textarea {font-size:1em !important; padding:4px 5px !important;}
.gform_confirmation_message_3.gform_confirmation_message {font-weight:bold; font-size:1.5em;}
.wufoo label.desc, .wufoo legend.desc {font-size:17px !important;}
.wufoo select.select {font-family: ff-meta-serif-web-pro,serif;}

/*Fullscreen Backgrounds */
.fullscreen {height: 100vh; min-height:100%; width: 100% !important; background-color: #eaeaea;}
.feature-text { position:absolute; width:42%; top:35%; left:10%; border-radius:10px; box-shadow: 0 0 180px rgba(80, 71, 66, .7);   background-image: radial-gradient(rgba(80,71,66,0.8),rgba(80,71,66,0.2));}
.featured-title {padding-bottom:.5em; }
.feature-text-wrapper {padding:1.25em;}
.feature-text-wrapper a {color:#2a201b;}
#countertops-feature .feature-text-wrapper a {color:#fff;}
.feature-text-logo {width:50%; }
.scrolling-arrow img {width:10%; margin: 4em 0 0 0;}
.scrolling-arrow a {color:#c7b299 !important; font-style:italic; transition: color 0.5s ease;}
.scrolling-arrow a:hover {text-decoration:none; color:#fff !important;}
#home-feature .feature-text {top:8%; width:30%; left:8%;}

/*Pages*/
.call-out-bar { color:#42322b; font-size:1.65em; font-style:italic; text-align:center; border-top:2px #b39658 solid; border-bottom:2px #b39658 solid; margin-top:50px;}
.call-out-bar p { margin-bottom:0; padding: 1em .5em;}
.icon-callouts a, .call-out-bar a { color:#42322b; text-decoration:none;}
.icon-callouts, .intro-text {float:left; width:50%;}
.icon-callouts img { width:35%; padding:0 1em 3em 5em; float:left; }
.icon-callouts.right {float:right;}
#our-work .icon-callouts img {width:80%; padding:0;}
.intro-text h2, #baluster-text h2 {padding-bottom:.9em;}
.icon-callouts p {font-size:1.1em;}
.contact-ad img { width:65%; padding: 0 0 1em 0;}
#faq-content, #contact-content, #resource-content, #vendor-content, #news-content, #registration-content, #careers-content {margin-top:5em; clear:both;}

/* Category Case Studies */
.featured-gallery { width:100%; overflow-x:scroll; overflow-y:hidden; white-space:nowrap; -webkit-overflow-scrolling: touch; margin:5em 0 0 0; padding:0; height:700px; position:relative; }
.featured-gallery#history-gallery {height:622px !important;}
.featured-gallery#stairs-gallery > div {width:25834px;}
.featured-gallery#countertop-gallery > div{width:25500px;}
.featured-gallery#history-gallery > div {width:7800px;}
.featured-gallery div.featured-gallery-post { width:1300px; height:700px; float:left; position:relative; }
.featured-gallery div#final-stairs-picture { width:1600px; }
.timelapse {width:1217px !important; float:left;}
.featured-gallery div.featured-gallery-post.text-block-brown{background-color:#42322b; width:600px !important; height:700px; color:#c7b299;}
.featured-gallery div.featured-gallery-post.text-block-tan{background-color:#c7b299; width:600px !important; height:700px; color:#42322b;}
.gallery-text-wrapper {text-align:left; position:absolute; width:25%; width:415px; white-space:normal; top:25%; left:15%; right:15%;}
.gallery-text-wrapper .bold {font-size:1.3em;}
.work-story-text h2 {padding-bottom:1em;}

/* Carousel Galleries */
.carousel-control.left, .carousel-control.right { background-image:none;}
.carousel-control {opacity:1; top:50%;}
.carousel-control > img {width:20%;}

/* Home Page */
#home-feature {position: relative; background:url("images/homepage-slide-wood-countertops.jpg") no-repeat left bottom fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; min-height:100%;}
#home-feature .slide { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-color: #000; }
#home-feature .homepage-carousel-controls svg { width: 75px; margin-right: 1em; float: left; }
#home-A {background:url("images/home-countertop.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:550px; margin-top:5em; clear:both; color:#ffffff;}
#home-A .home-page-text a {color:#ffffff;}
#home-A img {width:50%;}
#home-A hr {background-color:#fff; border:3px none; height:3px; opacity: .5;}
#home-B {background:url("images/homeA.jpg") no-repeat left center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:550px; margin-top:2em; clear:both;}
#home-B .home-page-text, #home-A .home-page-text {padding:2em; width:40%;}
#home-C {background:url("images/homeB.jpg") no-repeat left center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:550px; margin-top:2em; clear:both;}
#home-C .home-page-text {padding:19.5em 0 2em 35em; width:70%; float:left;}
.home-page-text h2 { padding:1em 0 0.5em;}
#home-B .container, #home-C .container, #home-A .container {width:80%;}
#home-F {background:url("images/homeE.jpg") no-repeat left center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:550px; margin-top:3em; clear:both;}
#home-F .home-page-text {float:right; width:45%; color:#c7b299; padding-top:2em;}
#home-D .home-page-text {text-align:center; padding-top:3em;}
#home-E img, #home-E .home-page-text {float:left;}
#home-E {border-top: 2px solid #b39658; border-bottom: 2px solid #b39658; padding:2em 0; margin-top:3em;}
#home-E h2 a {color: #b39658;}
#home-E p a {color: #2a201b;}
#home-E h2 a:hover, #home-E p a:hover {text-decoration:none;}
#home-E .home-page-text {padding:3em 0 0 3em; width:50%;}
#home-D {background:url("images/wood-bg.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; width:100%; height:400px; margin-top:2em; clear:both;}
#home-D p.italic {font-size:1.5em;}
#home-A .home-page-text {background-image:radial-gradient(rgba(80, 71, 66, 0.8), rgba(80, 71, 66, 0.2)); box-shadow: -18px 0 5px -5px rgba(80, 71, 66, 0.3), 18px 0 5px -5px rgba(80, 71, 66, 0.3);}

/* History Page */
#associates {width:100%; text-align:center; }
#associates img {padding: 3em 2em 2em 2em;}
#history-feature {background: url("images/history-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position:center; color:#ffffff;}
#historyA {text-align:center; left:43%;}
#historyA p, #historyB p, #historyC p, #historyD p, #historyE1 p, #historyF p {margin-top:3.25em;}
#historyB {left:30%;}
#historyC {left:60%; text-align:center;}
#historyD {left:44.5%; text-align:center;}
#historyF {left:30%;}
#historyB p {padding-right:2em;}
#historyE2 {left:60%; padding-top:7.5em;}
#historyF p {padding-right:3em;}
#history-directions {left:9%; top:40%;}
#history-directions p {text-transform:uppercase; font-weight:bold;}

/* Countertops Page */
#countertops-feature {background:url("images/countertops-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; min-height:100%;}
#wood-advantages {background:url("images/wood-bg.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; width:100%; display:table; text-align:center;padding-top: 4em;}
#wood-advantages div { width:50%; float:left; height:150px;}
#wood-advantages h2 { text-transform:uppercase; padding-bottom:1.5em;}
#wood-advantages p, #pdf-btn p, #countertop-green p {margin-bottom:0;}
#wood-advantages .container {float:none; padding: 3em 0;}
#wood-advantages .container div {text-align:left;}
#wood-advantages p.bold { font-size:1.5em;}
#wood-advantages img {float:left; padding-right:1.25em; padding-bottom:2em; width:15%; }
#pdf-download {text-align:center; clear:both; width:100% !important; height:200px !important; padding: 0 5%;}
#pdf-btn { background-color:#42322b; width:150px !important; height:50px !important; margin:2em auto; line-height:50px; color:#c7b299; float:none !important;}
#countertop-green {background-color:#7d8137; text-align:center; height:250px; padding-top:75px;}
#countertop-dark-green {background-color:#4a4c20; text-align:center; height:100px; line-height:100px;}
#countertop-green p {font-size:1.25em;}
#countertop-green p.bold {color:#c7b299; font-size:2em; padding-top:.5em;}
#countertop-dark-green p a {color:#c7b299; font-size:1.3em; text-decoration:none;}
#why-wood, #stair-planning { clear:both; padding: 3em 0;}
#why-wood { position:relative; padding: 3em 0 6em 0;}
.trees {background:url("images/trees.svg") repeat scroll bottom center; width:100% !important;}
#countertop-green img {float:left; width:15%;}

/* Our Work Pages */
#work-feature {background:url("images/work-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; min-height:100%;}
#work-countertops-feature {background:url("images/work-countertop-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; min-height:100%;}
#work-countertops-feature-2 {background:url("images/work-countertop-2-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; min-height:100%;}
#work-stairs-feature {background:url("images/work-stairs-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; min-height:100%;}
#work-countertops-feature .feature-text, #work-stairs-feature .feature-text {top:30%;}
#project-categories { width:100%; text-align:center; margin: 2em 0; clear:both;}
#project-categories img {padding:3em; width:7%;}
#project-categories svg {width:7%; padding:3em;}
#project-categories .current circle {fill:#87735c;}
#project-categories circle:hover {transition:fill 0.5s ease 0s;}
#project-categories circle:hover {fill:#87735c;}
.work-story-text {margin-top:6em;}
#story-text-scroll {height:50px;}
#stairs-intro-text {width:60%; color:#c7b299;}
#stairs-intro-text a {color:#c7b299; }
#stairs-intro-text .italic {font-size:1.5em;}
#stairs-intro-text img {padding:0 1em 0.5em 0;}
#left-quotes {float:left;}
.story-action-text {font-weight:bold; font-size:1.3em;}
#stairs-slide2-text {text-align:center; left:0; top:325px; width:1300px;}
#countertop-slide1-text {text-align:center; left:0; top:0; width:1300px; background-color: rgba(66,50,43,.7); padding:2em;}
#countertop-slide2-text {text-align:center; left:0; top:300px; width:1300px; background-color: rgba(66,50,43,.7); padding:1.5em;}
#brown-text-bar {width:100%; color:#c7b299; }
#brown-text-bar p {margin-bottom:0 !important;}
#stairs-slide2-text .italic {padding-top:3em;}
#our-work .clear {width:100%; clear:both; margin:4em 0;}
#our-work .intro-text {padding:4em 0 0 0;}
#countertops-pinterest {background:url("images/pinterest-countertops.jpg") no-repeat scroll center center rgba(0, 0, 0, 0); color:#ffffff; width:500px; height:150px; border-radius:10px;}
#countertops-pinterest p, #stairs-pinterest p {margin:5.25em 0 0;}
#stairs-pinterest {background:url("images/pinterest-stairs.jpg") no-repeat scroll center center rgba(0, 0, 0, 0); color:#ffffff; width:500px; height:150px; border-radius:10px;}
#project-categories a:hover {text-decoration:none;}

/* Resource Page */
#resource-feature {background:url("images/resources-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; min-height:100%;}
#resource-content .bold {text-transform:uppercase; font-size:1.5em; margin-bottom:.5em;}
#resource-content h2 {margin-bottom:2em;}
#architect-btn, .work-btn {background-color:#42322b; width:25%; text-transform:uppercase; margin-bottom:3em;}
.work-btn {background-color:#42322b; width:60%; text-transform:uppercase; margin-bottom:3em;}
#architect-btn p, .work-btn p {color:#ffffff; text-align:center; padding:.5em; margin-bottom:0; text-decoration:none;}
#architect-btn a:hover, .work-btn a:hover {text-decoration:none;}

/* Stairs Page */
#stairs-feature {background:url("images/stairs-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; min-height:100%;}
#balusters img, #baluster-text {float:left;}
#balusters img {width:40%;}
#balusters {clear:both; width:100%; padding-top:4em;}
#baluster-text {padding:0 0 0 3em; width:60%;}
#stairs-feature .feature-text {top:10%; left:5%;}
#stairs-feature .feature-text-wrapper a {color:#fff;}
.icon-callouts div {float:left; width:100%}

/* Mouldings Page */
#mouldings-feature {background:url("images/mouldings-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; color:#ffffff; width:100%; min-height:100%;}
#mouldings-feature .feature-text  {top:15%; left:5%; background-image:none; box-shadow:none; color:#2a201b;}
#mouldings {margin:5em 0; clear:both;}
#mouldings .intro-text img {padding:0 5em;}


/* Sustainability Page */
#sustainability-green {background-color:#7d8137; text-align:center; padding: 0 2em;}
#sustainability-green a {font-weight:bold; color:#2a201b;}
#sustainability-green a:hover {text-decoration:none;}
#sustainability-green img {padding:2em;}
#sustainability-content {background:url("images/sustainability-feature.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:fixed; width:100%; margin-top:3em; clear:both;}
#sustainability-content .trees {height:200px;}
#sustainability-content h2 {padding:0 0 .5em 0; font-size:3em;}
#sustainability-content-wrapper {width:45%; padding: 2.25em 0 0 10%;}
#sustainability-content p {margin-bottom:.5em;}
#sustainability-content-inside-wrapper {padding:1em; background-image: radial-gradient(rgba(230, 225, 218, 0.8), rgba(230, 225, 218, 0.2)); box-shadow: -18px 0 5px -5px rgba(230, 225, 218, 0.3), 18px 0 5px -5px rgba(230, 225, 218, 0.3);}

/* Contact Page / Registration Page*/
#contact-form, #registration-form {width:60%; float:left;}
#contact-form h2, #registration-form h2 {margin-bottom:1em;}
#contact-form .bold {font-size:2em;}
#contact-info {width:40%; float:left; padding-left:4em;}
#contact-info p {font-size:1.25em;}
#testimonials p {font-size:1em;}
.testimonial-business{ font-style:italic; color:#c7b299; }
#contact-form h2#countertop-quote-header { margin:1em 0 0.2em; }
#contact-form a, #registration-form a{ color:#2a201b; font-weight:bold;}

/* Warranty Page */
section.warranty-content { width: 50%; display: block; margin: 3em auto; }
header.warranty-header { background-size: cover; background-attachent: scroll; background-position: center center; height: 30vh; position: relative; }
header.warranty-header h2 { padding-left: 25%; color: white; position: absolute; bottom: 16px; }

/* FAQ Page */
#faq-content h3 {font-size:1.5em; font-weight:bold; line-height:1.3em; padding: 1em 0 .5em 0;}
#faq-content .title-image {background:url("images/faq-title.jpg") no-repeat center top scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
#faq-content h2, #vendor-content h2 {padding:2.2em 0; font-size:3em; text-align:center;}


/* Vendor Partner Page */
#vendor-content h3 {font-size:1.25em; font-weight:bold; padding-top:1.5em;}
.partner > img {width:80%;}
.partner {float:left; padding:5%; width:30%; text-align:center; font-weight:bold;}
.partner a {color:#b39658; font-weight:normal;}
#vendor-content .title-image {background:url("images/vendors-title.jpg") no-repeat left center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
.title-image {width:100%; height:250px; margin-bottom:5em;}

/* News & Blog Post Pages & Careers */
.blog-post.container { margin-top:5em;}
#news-content h2, #careers-content h2 {padding:1.6em 0 .5em 0; font-size:3em; text-align:center; color:#ffffff;}
#news-content h3, #careers-content h3 {text-align:center; font-style:italic; color:#ffffff;}
#news-content article h2, #careers-content article h2 {font-size:1.75em;padding-bottom:.5em; text-align:left !important; padding-top:0;}
#news-content article h2 a, article a, #careers-content article h2 a {color:#2a201b;}
#news-content .title-image {background:url("images/news-title.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
#careers-content .title-image {background:url("images/news-title.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
.moretag {color:#2a201b; font-weight:bold; margin:1em 0 0 0; display:inline-block;}
#news-content article > a, #careers-content article > a {color:#b39658;}
#news-content article a:visited, #news-content article a:hover, #careers-content article a:visited, #careers-content article a:hover {color:#2a201b;}
#secondary, .entry-footer, .navigation.post-navigation {display:none;}
#news-content article, #careers-content article {border-bottom:1px solid #927f6b; padding: 0 2em;}
.entry-meta, .entry-meta a {color:#927f6b;}
#social-news img {width:7%;margin:.5em;}
#social-news {text-align:center; margin-top:5em;}
#news-content article:first-of-type {background-color:#eae0d6; padding:2em; border-bottom:none; border-radius:10px; margin:0 0 4em 0; display:table;}
#news-content article:last-of-type, #careers-content article:last-of-type {border-bottom:none;}
.attachment-post-thumbnail.wp-post-image {float:left; padding: 0 1.5em 1.5em 0;}
.back-btn {text-align:center; margin: 1em auto 0 auto; }
.back-btn p {margin-bottom:0;}
.back-btn a {color:#2a201b; width:30%; padding:1em 3em; border: #2a201b solid 1px; text-decoration:none; background-color:#ffffff; transition: background-color 0.5s ease;}
.back-btn a:hover{background-color:#2a201b; color:#ffffff; text-decoration:none;}
article a:hover, article a:focus, article a:active, article a:visted, .back-btn a:visited {color:#2a201b !important; }
#news-content .attachment-post-thumbnail.wp-post-image, #careers-content .attachment-post-thumbnail.wp-post-image {display:none;}
#news-content article:first-of-type .attachment-post-thumbnail.wp-post-image, #careers-content article:first-of-type .attachment-post-thumbnail.wp-post-image {display:block; width:auto; height:260px;}
#news-content .container, #careers-content .container {margin-bottom:4em;}
#post-169 .entry-title {display:none;}
#careers-content #post-169 {border-bottom:none;}
.gform_wrapper .gform_fileupload_multifile .gform_drop_area {width:90%;}
.gform_wrapper .ginput_complex {width:93% !important;}
small {font-style: italic; line-height:.9 !important;}
.entry-content li, small {text-align: left;}


/* Thank You Pages */
#thank-you-content .title-image {background:url("images/thank-you-title.jpg") no-repeat center top scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; height:175px !important;}
#thank-you-content .entry-header {display:none;}
#thank-you-content .title-image h2 {line-height:175px;}
#thank-you-content .entry-content h2 {padding-bottom:.5em;}
#thank-you-content {padding-top:90px;}

/* Error 404 Page */
.error404 .page-header, .error404 .page-content {text-align:center;}
.error404 .intro-text {text-align:left;}
.error404 .icon-callouts img {width:100%; padding: 0 3em;}
.error404 .intro-text h2 {padding:1em 0;}

@media all and (max-width: 2305px) {
#project-categories img {padding:3em; width:9%;}
#project-categories svg {width:9%;}
#home-C .home-page-text {padding:19.5em 0 2em 20em;}
	}
@media all and (max-width: 1780px) {
#project-categories img {padding:3em; width:10%;}
#project-categories svg {width:12%;}
#home-A img { width:75%;}
	}

@media all and (max-width: 1683px) {
#home-C .home-page-text {width:70%; padding:19.5em 0 2em 10em;} #work-countertops-feature .feature-text {top:15%; width:55%; left:5%;} #work-stairs-feature .feature-text {top:15%;} .feature-text-logo {width:75%;}
	}
	
@media all and (max-width: 1520px) {
.menu-header_menu_1-container, .menu-header_menu_2-container{ width:47%;}
.menu-header_menu_1-container ul li {padding-right:2em;}
.menu-header_menu_2-container ul li {padding-left:2em;}
#wood-advantages .container{width:70% !important;}
	}
	
@media all and (max-width: 1440px) {
#history-feature .feature-text {left:10%; top:35%; width:44%;} #home-feature .feature-text {width:40%;} .feature-text-logo {width:80%;} #stairs-feature .feature-text {left:2%; top:3%; width:40%;} #wood-advantages img {width:20%;} #countertops-feature {background:url("images/countertops-feature.jpg") no-repeat fixed center bottom / cover  rgba(0, 0, 0, 0);} #countertops-feature .feature-text {left:5%; top:25%; width:50%;} #home-C .home-page-text {padding:19em 0 2em 12em; width:70%; float:left;} #work-stairs-feature .feature-text {left:2%; top: 2%; width:60%;} 
	} 
	
@media all and (max-width: 1416px) {	
#sustainability-content-wrapper {width:50%;} #project-categories img {width:15%} #project-categories svg {width:15%;}
	}
	
@media all and (max-width: 1394px) {
#home-C .home-page-text {width:80%; padding:19em 0 2em 10em;}	
	}
	
@media all and (max-width: 1267px) {
.menu-header_menu_1-container, .menu-header_menu_2-container{ width:46.5%;}
.menu-header_menu_1-container ul li {padding-right:1.5em;}
.menu-header_menu_2-container ul li {padding-left:1.5em;}
#footer-phone {padding-left:1em;}
#home-B .home-page-text, #home-A .home-page-text{width:60%;}
.feature-text {top:30%;}
#home-C .home-page-text {width:80%; padding:20em 0 2em 6em;}
#home-F .home-page-text {width:40%;}
	}
@media all and (max-width: 1091px) {
.menu-header_menu_1-container, .menu-header_menu_2-container{ width:45%;} #sustainability-content-wrapper {width:70%;} #project-categories img, #project-categories svg { width:18%;} .carousel-control > img {width:30%} #home-F {background:url("images/homeE.jpg") no-repeat scroll 15% center / cover  rgba(0, 0, 0, 0);} #home-C .home-page-text {width:95%;}
	}
@media all and (max-width: 1024px) {
#home-feature {background:url("images/home-feature-mobile.jpg") no-repeat scroll 30% bottom / cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%;} 
#home-D {background:url("images/wood-bg.jpg") no-repeat scroll center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; }
#countertops-feature {background:url("images/countertops-feature.jpg") no-repeat scroll center bottom / cover  rgba(0, 0, 0, 0);webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:650px;}
#countertops-feature .feature-text {top:10%;width:60%;}
#wood-advantages {background:url("images/wood-bg.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
#stairs-feature {background:url("images/stairs-feature.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 0); --webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:650px;}
#stairs-feature .feature-text {width:60%;}
#mouldings-feature {background:url("images/mouldings-feature.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0);-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:650px;}
#mouldings-feature .feature-text {width:50%;}
#work-feature {background:url("images/work-feature.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0);-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:650px;}
#resource-feature {background:url("images/resources-feature.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0);-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:650px;}
#history-feature {background:url("images/history-feature.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0);-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:650px;}
#sustainability-content {background:url("images/sustainability-feature.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0);-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%;}
#sustainability-content .trees {height:150px;}
#work-stairs-feature {background:url("images/work-stairs-feature.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0);-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:650px;}
#work-countertops-feature {background:url("images/work-countertop-feature.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0);-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%;height:650px;}
#work-countertops-feature .feature-text {width:90%; top:3%; left:2%;}
#work-countertops-feature .scrolling-arrow img {width:15%;}
#work-stairs-feature .feature-text {width:65%; top:5%;}
#work-feature .feature-text {width:45%;}

	}
@media all and (max-width: 977px) {
#footer-logo{ width:32%; padding:0 2em 0 1em;} #main-footer #site-navigation {width:60%;} #footer-logo img {width:80%;} .container {width:100% !important; padding:0 1.5em;} #wood-advantages .container{width:95% !important;} .contact-btn, .newsletter-btn {width:80%;} .icon-callouts {padding-left:5%; text-align:center;} .icon-callouts img {float:none; padding:0; width:20%;} .icon-callouts p {text-align:left;} #project-categories img, #project-categories svg {width:21%;} #home-C {background:rgba(0, 0, 0, 0) url("images/homeB.jpg") no-repeat scroll center center / cover; } #home-C .home-page-text {padding:18em 0 2em 2em; width:75%;}
	}
@media all and (max-width: 845px) {
#home-D .home-page-text {padding-top:3em;} .home-page-text h2 {padding-top:0;}
	}
@media all and (max-width: 870px) {
.partner {width:45%;}
	}
@media all and (max-width: 769px) {
.menu-header_menu_1-container, .menu-header_menu_2-container {display:none;} #nav-logo {padding-left:1em;} #wood-advantages div {width:100%; height:125px;} #wood-advantages .container{width:85% !important;} #wood-advantages {height:1460px;} #wood-advantages p.bold {padding: 0 .5em;} #wprmenu_bar {height:85px;} header #site-navigation {background-color:transparent;} #nav-logo {position:fixed; top:6px; float:none;} #wprmenu_bar .wprmenu_icon {margin-top:3%;} .navbar {width:75px;} #history-gallery.featured-gallery {height:300px !important;} .featured-gallery {height:338px;} #history-gallery.featured-gallery > div {width:3600px;} .featured-gallery div.featured-gallery-post {height:300px; width:600px;} #history-gallery .gallery-text-wrapper {top:20%;} #historyA p, #historyB p, #historyC p, #historyD p, #historyE1 p, #historyF p {margin-top:2.5em;} #historyA {left:23%; padding:0 15%;} #historyB {left:25%;} #historyB p {padding-right:8em;} #historyC {left:41%;} #historyD {left:26%;} #historyD > p {padding: 0 25%; margin-top:1em;} #historyE1 {padding: 0 45% 0 0;} #historyE2 {left:55%; padding: 5em 10em 0 0;} #historyF p {padding-right:15em;} #stairs-gallery.featured-gallery > div {width:13960px;} .timelapse iframe{height:300px; width:600px;}.timelapse {width:580px !important;} #stairs-intro-text .italic {font-size:1em;} .featured-gallery div.featured-gallery-post.text-block-brown, .featured-gallery div.featured-gallery-post.text-block-tan {height:338px;} .gallery-text-wrapper {top:15%; width:90%; left:5%; right:5%;} #stairs-slide2-text {top:135px; width:600px;} #stairs-intro-text {left:5%; width: 75%; top:6%;} #brian-sig {width:35%;} #stairs-intro-text p {margin-bottom:1em;} #social-news img {width:10%;} #history-directions {width:25%; top:45% !important;} .story-action-text {padding:0;} #home-feature .feature-text {width:70%; top:5%; left:0; position: relative; margin: 0 auto; text-align: center;} #home-B .home-page-text, #home-A .home-page-text {width:65%;} #home-B {background:url("images/homeA.jpg") no-repeat scroll 25% center / cover  rgba(0, 0, 0, 0); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%;} #home-F {background:url("images/homeE.jpg") no-repeat scroll 35% center / cover  rgba(0, 0, 0, 0);-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%;} #wprmenu_menu > ul {top:40px;} #countertops-feature .feature-text {width:70%;} #stairs-feature .feature-text {top:8%;} #mouldings-feature .feature-text {width:75%;} #mouldings .intro-text img {padding:3em;} #work-feature .feature-text, #history-feature .feature-text {width:50%;} #resource-feature .feature-text {width:60%;} #sustainability-content .trees {height:115px;} .featured-gallery div#final-stairs-picture {width:800px;} #countertop-slide1-text {width:100%;} #countertop-slide2-text {width:100%; top:75px;} #countertop-gallery.featured-gallery > div {width:15000px;} .featured-gallery div.featured-gallery-post.text-block-brown, .featured-gallery div.featured-gallery-post.text-block-tan, #countertop-slide1-text{height:323px;} .feature-text-logo {margin:0 auto;}
	}
@media all and (max-width: 740px) {
#main-footer #site-navigation , #footer-logo{ width:100%; float:none; text-align:center;} #footer-logo img {width:35%;} #footer-phone {padding-left:0;} .newsletter-ad, .contact-ad {width:100%;} .action-bar {height:300px;} .newsletter-ad { border-bottom: 1px solid #180b03; border-right:none;} #menu-footer-menu {display:none;} #main-footer {height:400px;} .intro-text, .icon-callouts {width:100%;} .icon-callouts img {padding:1em;} .newsletter-btn {margin-bottom:2em;} .contact-ad {margin:1em 0 2em 0;} .icon-callouts p {padding:1.5em 0 0 0;} .gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {width:100% !important;} #home-B .home-page-text, #home-A .home-page-text, #home-F .home-page-text {width:100%; padding:1.5em 1em 1em;} #home-C .home-page-text {width:100%;} #home-D .home-page-text {padding-top:2em;} .call-out-bar p {padding:1em;} .feature-text {width:80%;} #sustainability-content-wrapper {width:100%; padding: 0 10%;}#balusters img, #baluster-text {float:none;} #balusters {text-align:center; padding-top:0;} #baluster-text {width:100%; text-align:left; padding-top:2em; padding-left:0;} .icon-callouts p {text-align:center;} #project-categories img {width:25%; padding: 2em;} #footer-social {width:100%; text-align:center; float:none; padding: 1em 0;} #footer-social img { width:8%;} .carousel-control > img {width:40%} #project-categories svg {width:30%;} .gform_wrapper .ginput_complex, .gform_wrapper .gform_fileupload_multifile .gform_drop_area, .gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea {width:100% !important;} #careers-content article {padding:0;}
	}
@media all and (max-width: 684px) {
#wood-advantages {height:1600px;} #home-D {height:500px;} #home-D .home-page-text {padding-top:2.5em;} .trees {margin-top:100px;} #contact-form, #registration-form, #contact-info {width:100%; float:none;} #contact-info {padding:3em 1em;} #contact-content, #registration-content {margin-top:0;}
	}
@media all and (max-width: 665px) {
#home-E img, #home-E .home-page-text {float:none; text-align:center;} #home-E{text-align:center;} #home-E .home-page-text {width:100%; padding:2em 0 0 0;} .back-btn {width:90%;}
	}
@media all and (max-width: 636px) {
#countertop-dark-green {height:150px; line-height:1.75; padding-top:2em;}
	}
@media all and (max-width: 601px) {
 #site-navigation button {display:none;} #footer-logo img {width:40%;} .feature-text {text-align:center} .feature-text p {text-align:left;} #countertop-green {height:250px;} .partner {width:100%;} #architect-btn {width:100%;}  
 	}
	
@media all and (max-width: 568px) {
.fullscreen {height:600px;} 
.navbar {top:0; position:fixed;} 
.feature-text {top:95px;} 
.feature-text-logo {width:50%;}
.scrolling-arrow img {width:10%;} 
#home-feature .feature-text {top:5%; width:85%;} 
#home-feature {background:url("images/home-feature-mobile.jpg") no-repeat scroll 30% bottom / cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:600px;} 
#home-D {background:url("images/wood-bg.jpg") no-repeat scroll center center;} 
#wprmenu_menu_ul {margin:3em 0 4em 0 !important;} 
#home-B {background:url("images/homeA.jpg") no-repeat scroll 10% center / cover  rgba(0, 0, 0, 0);} 
#home-C {background:url("images/homeB.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:615px; }
#home-C .home-page-text {padding-top:15em ;} 
#home-F {background:url("images/homeE.jpg") no-repeat scroll 70% center / cover; } 
#wood-advantages {height:1490px;} 
.trees {height:113px !important; margin-top:0;}
 #project-categories img {padding:40%; padding:1em;} 
.scrolling-arrow img {width:10%;} 
.bounce {left:0%; margin-left:0;}
 #countertops-feature {background:url("images/countertops-feature-mobile.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:800px;}
#history-feature {background: url("images/history-feature-mobile.jpg") no-repeat 70% center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position:center;} 
 #resource-feature {background:url("images/resources-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;} 
 #work-feature {background:url("images/work-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;} 
 #stairs-feature {background:url("images/stairs-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;} 
 #mouldings-feature {background:url("images/mouldings-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
 #work-countertops-feature {background:url("images/work-countertop-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; height:875px;}
#work-stairs-feature {background:url("images/work-stairs-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; height:800px;}
 #home-F .home-page-text {margin-top:3em;} 
 .title-image {height:150px;} 
#faq-content h2, #vendor-content h2 {padding: 1em 0;} 
#news-content h2 {padding:.8em 0 0;}
#social-news img {width:15%;}
 #wood-advantages {background:url("images/wood-bg.jpg") no-repeat scroll center center / cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
 #wood-advantages {background:url("images/wood-bg.jpg") no-repeat scroll center center / cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment:scroll; height:1400px;} 
 #sustainability-content {background:url("images/sustainability-feature.jpg") no-repeat scroll 70% bottom / cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; height:570px; } 
 #stairs-feature .feature-text {left:10%; top:8%; width:80%;} 
 .carousel-control > img {width:55%}
/*.featured-gallery-post > img {height:400px; width:auto;} 
.featured-gallery {height:400px;} 
.featured-gallery div.featured-gallery-post {width:auto;} 
.featured-gallery div.featured-gallery-post.text-block-tan {height:400px;} 
.featured-gallery div.featured-gallery-post.text-block-brown {height:400px;}*/
	}
	
@media all and (max-width: 508px) {
#wood-advantages h2 {padding-bottom:0;} #wood-advantages img {float:none; padding-bottom:0; padding-right:0;} #wood-advantages .container div {text-align:center;} #wood-advantages div {height:200px;} #wood-advantages {height:2200px;} .newsletter-btn, .contact-btn, #gform_submit_button_1 {width:100%;} #countertop-green img {float:none; width:25%;} #countertop-green {height:450px;} #project-categories img {width:28%; padding:1em;} .icon-callouts img {width:35%;} #pdf-download {height:370px !important;} #our-work h2{text-align:center;} .work-btn {width:100%;} #work-countertops-feature .feature-text, #work-stairs-feature .feature-text {width:100%; padding:3em 0 0;} #stairs-pinterest {background:url("images/pinterest-stairs.jpg") repeat scroll center center rgba(0, 0, 0, 0); border-radius:0;}
#countertops-pinterest {background:url("images/pinterest-countertops.jpg") repeat scroll center center rgba(0, 0, 0, 0); border-radius:0;} .bounce {left:0%; margin-left:-20px;} .contact-ad img {width:100%;} #home-A img { width:100%;}
	}
@media all and (max-width: 445px) {
.icon-callouts img {float:none;} .icon-callouts {text-align:center;} #footer-logo img {width:60%;} #home-D {height:550px;} #home-D p.italic {font-size:1em;} #home-F {height:650px;}#home-B .home-page-text, #home-A .home-page-text, #home-F .home-page-text {padding:1.5em 0 0 0;} #faq-content h2, #vendor-content h2 {padding:1em 0;} #home-C .home-page-text {padding:14em 0 0 0;} .back-btn {width:100%;} #news-content .title-image {height:225px;} #news-content h2 {padding:1.5em 0 0;} #project-categories svg {width:30%; padding:.5em;} .pinterest-call {margin:2em 0;} #work-countertops-feature {height:1000px;} .bounce {left:8%; position:relative;} .scrolling-arrow img {width:20%; margin: 2em 0 0 0;} #countertops-feature {height:850px;}
	}	
@media all and (max-width: 418px) {
	#news-content h2 {padding:.8em 0 0;}
	}
@media all and (max-width: 385px) {
.title-image {margin:8em 0 3em 0;} #sustainability-content h2 {padding:.75em 0 0.5em;}  #sustainability-content {height:630px;} .trees{ height:65px !important;}  #vendor-content h2 {padding:.5em 0 !important;} #footer-social img {width:20%} #mouldings .intro-text img {padding:0;} #countertops-feature .feature-text {top:20%} #stairs-feature .feature-text {padding:20% 0 0 0% !important; width:100%;} .feature-text {width:90%; position:static; padding:20% 0 0 0;} .feature-text-logo {width:100%;} #stairs-feature {height:700px;} #social-news img {width:20%;} article {text-align:center;} article p {text-align:left;} #news-content article h2 {text-align:center!important; } .attachment-post-thumbnail.wp-post-image {float:none; padding: 0 0 2em 0;} .back-btn p {text-align:center;} .back-btn {width:100%;} .back-btn a {width:100% !important; padding:1em !important;} #wprmenu_menu > ul {top:0;} #countertops-feature .feature-text, #mouldings-feature .feature-text, #work-feature .feature-text, #resource-feature .feature-text, #history-feature .feature-text {width:100%; left:0;} #gform_3, #gform_2 {font-size:.5em; width:100%;}
	}	 
	
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only 
.feature-text {width:55%;left:2%;}
.fullscreen {height:590px;}
#home-feature {background:url("images/home-feature-mobile.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment:scroll;} 
#home-feature .feature-text {left:3%; width:55% !important; top:31%;}
#home-feature .feature-text p {margin-bottom:1em;}
#home-A .home-page-text {width:70%;}
#home-B {background:url("images/homeA.jpg") no-repeat 40% center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:550px; }
#home-C {background:url("images/homeB.jpg") no-repeat 60% center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:550px; }
#home-C .home-page-text {padding:5em 0 2em 5em;}
#home-F {background:url("images/homeE.jpg") no-repeat 50% center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:500px;}
#home-F .home-page-text {padding-top:3em;}
#home-D {background:url("images/wood-bg.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
#contact-info {padding-left:2em}
#sustainability-content {background:url("images/sustainability-feature.jpg") no-repeat scroll 70% bottom / cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; height:600px;}
#sustainability-content-wrapper {width:100%; padding: 0 10%;}
#sustainability-content .trees {height:185px;}
#wood-advantages {background:url("images/wood-bg.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#wood-advantages img {width:15%;}
#wprmenu_menu ul {padding:50px 0 0 0;}
.newsletter-btn, .contact-btn, #gform_submit_button_1 {width:45%;}
#countertops-feature {background:url("images/countertops-feature-mobile.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
#wood-advantages {background:url("images/wood-bg.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment:scroll;}
#history-feature {background: url("images/history-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position:center;}
#resource-feature {background:url("images/resources-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#work-feature {background:url("images/work-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#stairs-feature {background:url("images/stairs-feature-mobile.jpg") no-repeat left top; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#mouldings-feature {background:url("images/mouldings-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#mouldings img {padding: 0 3em;}
.scrolling-arrow img {width:10%;}
#stairs-feature .feature-text {width:60%; top:3%;}
#countertops-feature .feature-text {width:60%;}*/
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only 
.fullscreen {height:680px;}
#home-feature {background:url("images/home-feature-mobile.jpg") no-repeat left bottom scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:680px;} 
.feature-text {top:35%;}
#home-feature .feature-text {top:45%;}
#home-feature .feature-text  p {margin-bottom:.5em !important;}
#home-B {background:url("images/homeA.jpg") no-repeat left center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:550px; }
#home-C {background:url("images/homeB.jpg") no-repeat right center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:550px; }
#home-F {background:url("images/homeE.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; width:100%; height:500px;}
#home-D {background:url("images/wood-bg.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll;}
#home-B .home-page-text, #home-A .home-page-text, #home-C .home-page-text {width:70%;}
#home-B .home-page-text {padding:0;}
#home-B .container {width:90%;}
#home-F .home-page-text {width:55%;}
#home-E .home-page-text {width:50%;}
#project-categories img {width:18%;}
#countertops-feature {background:url("images/countertops-feature-mobile.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
#wood-advantages {background:url("images/wood-bg.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#history-feature {background: url("images/history-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position:center;}
#resource-feature {background:url("images/resources-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#work-feature {background:url("images/work-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#stairs-feature {background:url("images/stairs-feature-mobile.jpg") no-repeat left center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#mouldings-feature {background:url("images/mouldings-feature-mobile.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat;}
#sustainability-content {background:url("images/sustainability-feature.jpg") no-repeat scroll 90% center / cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; background-attachment:scroll; }
#stairs-feature .feature-text {left:.5%; top:1%; width:50%}
.scrolling-arrow img {width:12%;}
*/

}